*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#001C30;
    width: 100%;
}
.footer{
    display: flex;
    background-color:#001C30;
    color: white;
    border-bottom: 1px solid;
    width: 100%;

}
.footer1{

    display: flex;
    flex-direction: row;
    margin-left: 18%;
    width: 100%;
}
.l{
margin-left: 70px;
margin-bottom: 30px;
}
p{
    margin-top: 10px;
    color: darkgrey;
    font-size: 11px;
    width: 100%;
    max-width: max-content;
    margin-bottom: 10px;
}
.l ul{
    width: 100%;
}
.l ul li{
    list-style: none;
    line-height: 30px;
    width: max-content;
    font-size: 13px;
}
.l li:hover{
    cursor: pointer;
    border-bottom: 1px solid;
}
.l3{
    margin-left: 100px;
    line-height: 20px;
}
.l2 .ad{
    line-height: 25px;
    font-size: 14px;
}
.ad2 a{
    color: blue;
    margin-left: 5px;
}
.f3{
    display: flex;
    width: 100%;
}
.fl ul{
    color: white;
    display: flex;
    margin-left: 40px;
}
.fl ul li{
    width: 100%;
    max-width: fit-content;
    display: flex;
    font-size: 14px;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-left: 45px;
    margin-top: 35px;
    margin-bottom: 30px;
    
}
.fl ul li span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -5px;
    margin-left: 10px;
    
}
.material-symbols-outlined{
    font-size: 20px;
    color: yellow;

}
.fr{
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 20px;
}
img{
    height: 30px;
    width: 40px;
    margin-top: 10px;
    margin: 3px;
}
