*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    position:fixed;
    top:0%;
    left:0%;
    right: 0%;
    z-index:100;
    background-color: #f7f7f7;
    height: max-content;
}
.list-items{
    margin-left:5%;
}
ul{
    display:flex;
    justify-content:center;
    margin-top:10px;
}
ul li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left:10px;
}
ul li a{
    text-decoration: none;
    margin-right:35px;
    margin-top:5px;
    color:black;
    font-size: 18px;
}
.arrow span{
    position:absolute;
}
.menubar{
    background-color:white;
    display: flex;
    flex-direction: row;
    padding:10px 4px;
    width:100%;
}
.serch{
    padding-top:5px;
    display: flex;
    flex-direction: row;
    background-color: rgba(145, 217, 222, 0.291);
    margin-left: 3%;
    width:45%;
    border-radius: 6px;
    box-shadow: 0px 0px  1px 1px  rgba(255, 255, 255,0.4);

}
.serch input{
    width:100%;
    height:38px;
    background: transparent;
    border-radius: 6px;
    font-size: 17px;
    color: black;
    padding:10px;
    text-align:90px;
    outline: none;
    gap: 5rem;
    flex: 1;
    border: none;
}
.serch input:hover{
    border:none;
    outline: none;
}
.serch input::placeholder{
    padding-left:22px;
}
.icon{
    position: absolute;
    margin-top:3px;
    padding: 5px;
}
.lite{
    width:auto;
    display: flex;
    padding:5px;
    border-bottom: 1px solid rgb(236, 212, 212);
}
.sp {
    color: #001e81;
}
.hd{
    margin-left: 5%;
}
.hd b{
    color:#2a55e5;
    font-weight: bold;
    font-size:21px;
    font-style: italic;
}
.hd a{
    margin-top:26px;
    font-size:15px;
    font-style:italic;
    color: grey;
}
.hd strong{
        color: gold;
        margin-top:27px;
        font-size:14px;
        font-style: italic;
}
.menu-item{
    position: relative;
}
     
.sub{
    display: none;
    overflow:hidden;
    width:180px;
    height:200px;
    position:absolute;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    margin-left:-140px;
    margin-top:230px;
    text-align:left;
    box-shadow: 0 4px 16px 0 rgb(0 0 0/20%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
    

.menu-item:hover .sub{
    display:block;
}
.sub li{
    margin-top:8px;
    width: fit-content;
}
.sub li a{
    padding:1px;
    font-size:15px;
}
 
ul li span{
     margin-right:6px;
}
.sign{
    margin-left: -14px;
    
}
.sign:hover .submenu2{
    background-color:white;
    display: block;
}
.sign:hover .submenu2 a{
    color: black;
}
.sign:hover a,.sign:hover{
    color: blue;
    

}
.sign:hover a span{
    transition:.4s ease;
    transform: rotate(180deg);
}
.submenu2{
    display: none;
    width:230px;
    text-align:left;
    height:270px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    margin-top:300px;
    border-radius: 7px;
    box-shadow: 0 4px 16px 0 rgb(0 0 0/20%);
    border-bottom-left-radius: 8px;
    border-radius: 8px;
}
.submenu2 li {
    padding-top:9px;
    font-size:16px;
}
.formwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    position: absolute;
    width: 50%;
    top:1%;
    left:20%;
    z-index: 100%;
    margin-left:5%;
}
.middle{
    display:flex;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 30px;

}
.left{
    background-image: url("../../assets/commerce_1680804490332_1682064977443.avif");
    background-size: cover;
    margin:0px 0px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(212, 160, 160, 0.3);
    width: 50%;
    height: 500px;
}

.r form {
    margin:0px 0px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 500px;
    }
    form .text{
        position: relative;
        margin: 30px 0px 30px;
    }
.text input{
       width: 100%;
       padding: 0 5px;
       height: 40px;
       font-size: 16px;
       border-left: none;
       border-right: none;
       border-top: none;
       border-bottom: 1px solid blue;
       background: none;
       outline: none;
    }
.text label{
    position: absolute;
    top: 50%;
    left:5px;
    color: #adadad;
    transform: translateY(-50% );
    font-size: 18px;
    pointer-events: none;
    
}
.text input:focus~label,
.text input:valid~label{
    top:-5px;
    color:#2691d9;
}
p a{
    text-decoration: none;
    color: blue;
}
.b{
    
    margin-top: 58%;
    margin-left: 30%;
}
button {
    padding: 10px 20px;
    background-color:orangered;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 90%;
    margin-top:40px;
    height: 45px;
    font-size: 17px;
    font-weight: 600;
    }
 button:hover {
     background-color: #e04f06;
     }
.close{
    font-size:50px;
    margin-top: -55%;
    cursor: pointer;
}
     


    

