*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    position:fixed;
    top:0%;
    left:0%;
    right: 0%;
    z-index:100;
    background-color: #f7f7f7;
    height: max-content;
}
.list-items{
    margin-left:5%;
}
ul{
    display:flex;
    justify-content:center;
    margin-top:10px;
}
ul li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left:10px;
}
ul li a{
    text-decoration: none;
    margin-right:35px;
    margin-top:5px;
    color:black;
    font-size: 18px;
}
.arrow span{
    position:absolute;
}
.menubar{
    background-color:white;
    display: flex;
    flex-direction: row;
    padding:10px 4px;
    width:100%;
}
.serch{
    padding-top:5px;
    display: flex;
    flex-direction: row;
    background-color: rgba(145, 217, 222, 0.291);
    margin-left: 3%;
    width:45%;
    border-radius: 6px;
    box-shadow: 0px 0px  1px 1px  rgba(255, 255, 255,0.4);

}
.serch input{
    width:100%;
    height:38px;
    background: transparent;
    border-radius: 6px;
    font-size: 17px;
    color: black;
    padding:10px;
    text-align:90px;
    outline: none;
    gap: 5rem;
    flex: 1;
    border: none;
}
.serch input:hover{
    border:none;
    outline: none;
}
.serch input::placeholder{
    padding-left:22px;
}
.icon{
    position: absolute;
    margin-top:3px;
    padding: 5px;
}
.lite{
    width:auto;
    display: flex;
    padding:5px;
    border-bottom: 1px solid rgb(236, 212, 212);
}
.hd{
    margin-left: 5%;
}
.hd b{
    color:#2a55e5;
    font-weight: bold;
    font-size:21px;
    font-style: italic;
}
.hd a{
    margin-top:26px;
    font-size:15px;
    font-style:italic;
    color: grey;
}
.hd strong{
        color: gold;
        margin-top:27px;
        font-size:14px;
        font-style: italic;
}
.menu-item{
    position: relative;
}
     
.sub{
    display: none;
    overflow: hidden;
    width:162px;
    height:200px;
    position:absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-left:-150px;
    margin-top:230px;
}
.menu-item:hover .sub{
    display:block;
}
.sub li{
    margin-top:8px;
    width: fit-content;
}
.sub li a{
    padding:1px;
    font-size:15px;
}
 
ul li span{
     margin-right:6px;
}
.sign{
    margin-left: -14px;
    
}
.sign:hover .submenu2{
    background-color:white;
    display: block;
}
.sign:hover .submenu2 a{
    color: black;
}
.sign:hover a,.sign:hover{
    color: blue;
}
.sign:hover a span{
    transform: rotate(180deg);
}
.submenu2{
    display: none;
    width:230px;
    text-align:left;
    height:270px;
    position: absolute;
    background-color:white;
    border: 1px solid #ccc;
    margin-top:300px;
    border-radius: 7px;
}
.submenu2 li {
    padding-top:9px;
    font-size:16px;
}


    

