<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="title">
            <div class="flip">Flipkart</div>
            <div class="art">Explore <strong>Plus</strong></div>
        </div>
        <div class="serch">
            <input type="text" placeholder="Search for products,brands and more ">
        </div>
        <span class="material-symbols-sharp icon">
            search
        </span>
        <div class="button">
            <li class="btn">Login
            <div class="submenu">
                <ul>
                    <div class="lite">
                        <li><a routerLink="">New user</a></li>
                        <li><a style="color: blue;cursor: pointer;">Signup?</a></li>
                    </div>

                    <li><span class="material-symbols-outlined">
                            person
                        </span><a routerLink="">My profile</a></li>
                    <li><span class="material-symbols-outlined">
                            grade
                        </span><a routerLink="">Flipkart Plus Zone</a></li>
                    <li><span class="material-symbols-outlined">
                            box
                        </span><a routerLink="">Orders</a></li>
                    <li><span class="material-symbols-outlined">
                            favorite
                        </span><a routerLink="">WishList</a></li>
                    <li><span class="material-symbols-outlined">
                            redeem
                        </span><a routerLink="">Rewards</a></li>
                    <li><span class="material-symbols-outlined">
                            redeem
                        </span>
                        <a routerLink="">GiftCards</a>
                    </li>
                </ul>
            </div>
            </li>
        </div>
    </div>
    <section class="sec">
        <div class="main">
            <div [class]="show" class="flipk">
                <a routerLink="/cart/flipkart" (click)="action()">Flipkart</a>
            </div>
            <div class="content2" [class]="vis">
                <a routerLink="/cart/grocery" (click)="hide()">Grocery</a>
            </div>
        </div>
        <div class="main2">
            <div class="show">
                <router-outlet></router-outlet>
            </div>
        </div>
        <footer>
            <div class="foot1">
                <span>Polices:</span>
                <a>Return Policy</a>
                <a>Terms of use</a>
                <a> Security</a>
                <a>Privacy</a>
                <a>Infringement</a>
                <span>@2007-2023 Flipkart.com</span>
            </div>
            <div class="foot2">
                <a>Need Help?</a>
                <span>Visit the <a>Help Center</a> or <a>Contact Us</a></span>
            </div>
        </footer>
    </section>



</body>

</html>