<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="title">
            <div class="flip">Flipkart</div>
            <div class="art">Explore <strong>Plus</strong></div>
        </div>
        <div class="serch">
            <input type="text" placeholder="Search for products,brands and more ">
        </div>
        <span class="material-symbols-sharp icon">
            search
            </span>
        <div class="button">
            <button type="submit" class="btn">Login</button> 
        </div>

    </div>
    <section class="sec">
        <div class="main">
            <div class="content">
                <a routerLink="/cart/flipkart">Flipkart</a>
            </div>
            <div class="content2">
             <a routerLink="/cart/grocery">Grocery</a>
            </div>
        </div>
        <div class="main2">
            <div class="show">
                <router-outlet></router-outlet>
            </div>
        </div>
        
    </section>  
   
    
</body>

</html>
