<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <section>
    <div class="items">
      <div class="item-in"> <a routerLink="/"><img src="../../../assets/gro.webp"><p class="gr">Grocery</p></a></div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/sur.webp"><p class="ms">Mobiles</p></a></div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/fas.webp"><p class="fs">Fashion<span class="material-symbols-outlined">expand_more</span></p></a>
      <div class="submenu">
          <ul>
          <li><a href='/'>Men's top wear <span class="material-symbols-outlined">
            chevron_right
            </span></a>
          <div class="subb1">
            <ul>
              <li><a>More in Men's Top wear</a></li>
              <li><a>All</a></li>
              <li><a>Men's T-shirts</a></li>
              <li><a>Men's Casual Shirts</a></li>
              <li><a>Men's Formal Shirts</a></li>
              <li><a>Men's Kurtas</a></li>
              <li><a>Men's Ethnic Sets</a></li>
              <li><a>Men's Blazers</a></li>
              <li><a>Men's Raincoat</a></li>
              <li><a>Men's WindCheaters</a></li>
              <li><a>Men's Suit</a></li>
              <li><a>Men's Fabric</a></li>
            </ul>
          </div></li>
          <li><a href='/'>Men's Bottom Wear</a>
            <div class="subb1">
              <ul>
                <li><a>More in Men's Top wear</a></li>
                <li><a>All</a></li>
                <li><a>Men's T-shirts</a></li>
                <li><a>Men's Casual Shirts</a></li>
                <li><a>Men's Formal Shirts</a></li>
                <li><a>Men's Kurtas</a></li>
                <li><a>Men's Ethnic Sets</a></li>
                <li><a>Men's Blazers</a></li>
                <li><a>Men's Raincoat</a></li>
                <li><a>Men's WindCheaters</a></li>
                <li><a>Men's Suit</a></li>
                <li><a>Men's Fabric</a></li>
              </ul>
            </div>
          </li>
          <li><a href='/'>Women Ethnic <span class="material-symbols-outlined">
            chevron_right
            </span></a>
            <div class="subb1">
              <ul>
                <li><a>More in Men's Top wear</a></li>
                <li><a>All</a></li>
                <li><a>Men's T-shirts</a></li>
                <li><a>Men's Casual Shirts</a></li>
                <li><a>Men's Formal Shirts</a></li>
                <li><a>Men's Kurtas</a></li>
                <li><a>Men's Ethnic Sets</a></li>
                <li><a>Men's Blazers</a></li>
                <li><a>Men's Raincoat</a></li>
                <li><a>Men's WindCheaters</a></li>
                <li><a>Men's Suit</a></li>
                <li><a>Men's Fabric</a></li>
              </ul>
            </div></li>
          <li><a href='/'>Women Westren </a>
            <div class="subb1">
              <ul>
                <li><a>More in Men's Top wear</a></li>
                <li><a>All</a></li>
                <li><a>Men's T-shirts</a></li>
                <li><a>Men's Casual Shirts</a></li>
                <li><a>Men's Formal Shirts</a></li>
                <li><a>Men's Kurtas</a></li>
                <li><a>Men's Ethnic Sets</a></li>
                <li><a>Men's Blazers</a></li>
                <li><a>Men's Raincoat</a></li>
                <li><a>Men's WindCheaters</a></li>
                <li><a>Men's Suit</a></li>
                <li><a>Men's Fabric</a></li>
              </ul>
            </div></li>
          <li><a href='/'>Mens Footwear</a>
            <div class="subb1">
              <ul>
                <li><a>More in Men's Top wear</a></li>
                <li><a>All</a></li>
                <li><a>Men's T-shirts</a></li>
                <li><a>Men's Casual Shirts</a></li>
                <li><a>Men's Formal Shirts</a></li>
                <li><a>Men's Kurtas</a></li>
                <li><a>Men's Ethnic Sets</a></li>
                <li><a>Men's Blazers</a></li>
                <li><a>Men's Raincoat</a></li>
                <li><a>Men's WindCheaters</a></li>
                <li><a>Men's Suit</a></li>
                <li><a>Men's Fabric</a></li>
              </ul>
            </div></li>
          <li><a href='/'>Women Footwear </a>
            <div class="subb1">
              <ul>
                <li><a>More in Men's Top wear</a></li>
                <li><a>All</a></li>
                <li><a>Men's T-shirts</a></li>
                <li><a>Men's Casual Shirts</a></li>
                <li><a>Men's Formal Shirts</a></li>
                <li><a>Men's Kurtas</a></li>
                <li><a>Men's Ethnic Sets</a></li>
                <li><a>Men's Blazers</a></li>
                <li><a>Men's Raincoat</a></li>
                <li><a>Men's WindCheaters</a></li>
                <li><a>Men's Suit</a></li>
                <li><a>Men's Fabric</a></li>
              </ul>
            </div></li>
          <li><a href='/'>Watches and Accessories </a>
            <div class="subb1">
              <ul>
                <li><a>More in Men's Top wear</a></li>
                <li><a>All</a></li>
                <li><a>Men's T-shirts</a></li>
                <li><a>Men's Casual Shirts</a></li>
                <li><a>Men's Formal Shirts</a></li>
                <li><a>Men's Kurtas</a></li>
                <li><a>Men's Ethnic Sets</a></li>
                <li><a>Men's Blazers</a></li>
                <li><a>Men's Raincoat</a></li>
                <li><a>Men's WindCheaters</a></li>
                <li><a>Men's Suit</a></li>
                <li><a>Men's Fabric</a></li>
              </ul>
            </div></li>
          <li><a href='/'>Bages,Suitcases & luggage </a>
            <div class="subb1">
              <ul>
                <li><a>More in Men's Top wear</a></li>
                <li><a>All</a></li>
                <li><a>Men's T-shirts</a></li>
                <li><a>Men's Casual Shirts</a></li>
                <li><a>Men's Formal Shirts</a></li>
                <li><a>Men's Kurtas</a></li>
                <li><a>Men's Ethnic Sets</a></li>
                <li><a>Men's Blazers</a></li>
                <li><a>Men's Raincoat</a></li>
                <li><a>Men's WindCheaters</a></li>
                <li><a>Men's Suit</a></li>
                <li><a>Men's Fabric</a></li>
              </ul>
            </div></li>
          <li><a href='/'>Kids</a>
            <div class="subb1">
              <ul>
                <li><a>More in Men's Top wear</a></li>
                <li><a>All</a></li>
                <li><a>Men's T-shirts</a></li>
                <li><a>Men's Casual Shirts</a></li>
                <li><a>Men's Formal Shirts</a></li>
                <li><a>Men's Kurtas</a></li>
                <li><a>Men's Ethnic Sets</a></li>
                <li><a>Men's Blazers</a></li>
                <li><a>Men's Raincoat</a></li>
                <li><a>Men's WindCheaters</a></li>
                <li><a>Men's Suit</a></li>
                <li><a>Men's Fabric</a></li>
              </ul>
            </div></li>
          <li><a href='/'>Essentials  </a>
            <div class="subb1">
              <ul>
                <li><a>More in Men's Top wear</a></li>
                <li><a>All</a></li>
                <li><a>Men's T-shirts</a></li>
                <li><a>Men's Casual Shirts</a></li>
                <li><a>Men's Formal Shirts</a></li>
                <li><a>Men's Kurtas</a></li>
                <li><a>Men's Ethnic Sets</a></li>
                <li><a>Men's Blazers</a></li>
                <li><a>Men's Raincoat</a></li>
                <li><a>Men's WindCheaters</a></li>
                <li><a>Men's Suit</a></li>
                <li><a>Men's Fabric</a></li>
              </ul>
            </div></li>
          <li><a href='/'>Winter </a>
            <div class="subb1">
              <ul>
                <li><a>More in Men's Top wear</a></li>
                <li><a>All</a></li>
                <li><a>Men's T-shirts</a></li>
                <li><a>Men's Casual Shirts</a></li>
                <li><a>Men's Formal Shirts</a></li>
                <li><a>Men's Kurtas</a></li>
                <li><a>Men's Ethnic Sets</a></li>
                <li><a>Men's Blazers</a></li>
                <li><a>Men's Raincoat</a></li>
                <li><a>Men's WindCheaters</a></li>
                <li><a>Men's Suit</a></li>
                <li><a>Men's Fabric</a></li>
              </ul>
            </div></li>
        </ul>
      </div>
    </div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/lap.webp"><p class="es">Electronics<span class="material-symbols-outlined">expand_more</span></p></a>
      <div class="submenu2">
        <ul>
          <li><a href="/">Mobile</a></li>
          <li><a href="/">Pc</a></li>
          <li><a href="/">Laptop</a></li>
        </ul>
      </div>
      </div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/fun.webp"><p class="hs">Home&Furniture<span class="material-symbols-outlined">expand_more</span></p></a>
        <div class="submenu3">
          <ul>
            <li><a href="/">bed</a></li>
            <li><a href="/">table</a></li>
            <li><a href="/">Furniture</a></li>
          </ul>
        </div>
      </div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/app.webp"><p class="as">Appliances</p></a></div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/travel.webp"><p class="ts">Travel</p></a></div>
      <div class="item-in"><a routerLink="#"><img src="../../../assets/topoffers.webp"><p class="os">Top Offers</p></a></div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/beauty.webp"><p class="bs">Beauty,Toy&More<span class="material-symbols-outlined">expand_more</span></p></a>
        <div class="submenu4">
          <ul>
            <li><a href="/">Bindii</a></li>
            <li><a href="/">lipstick</a></li>
            <li><a href="/">Makeup</a></li>
          </ul>
        </div>
      </div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/bikes.webp"><p class="tws">Two wheelers<span class="material-symbols-outlined">expand_more</span></p></a>
        <div class="submenu5">
          <ul>
            <li><a href="/">Bike</a></li>
            <li><a href="/">Yaamhaa</a></li>
            <li><a href="/">Fz</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="slider">
      <button type="button" class="btn1"  (click)="showprev()"><img src="../../../assets/left.jpg" height="80px"></button>
      <div class="carousal-container">
        <div class="carousal-block" id="carousal">
          <img [src]="imageblock[currentslide]" alt="image">
        </div>
      </div>
      <button type="button" class="btn2"  (click)="shownext()"><img src='../../../assets/right.jpg' height="80px"></button>
    </div>

  <div class="slider2">
    <h3 class="head">Best of Electronics</h3>
    <div class="slider2-block" *ngFor="let img of slideblock2">
      <img [src]="img.image" alt="slider img">
      <p>{{img.title}}</p>
      <span>From {{img.price}}</span>
    </div>
  </div>
  <div class="slider3">
    <h3 class="head1">Beauty,Toys & More </h3>
    <div class="sliderblock3" *ngFor="let im of sliderblock3">
      <img [src]="im.image">
      <p>{{im.title}}</p>
      <span>From {{im.price}}</span>
    </div>
  </div>
  <div class="slider4">
    <h3 class="head2">Sports Health Care & More</h3>
    <div class="sliderblock4" *ngFor="let img3 of sliderblock4">
      <img [src]="img3.image">
      <p>{{img3.title}}</p>
      <span>From {{img3.price}}</span>
    </div>
  </div>
  

</section>
 
   <footer>
    <app-footer></app-footer>
   </footer>
</body>
</html>