<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <section>
    <div class="items">
      <div class="item-in"> <a routerLink="/"><img src="../../../assets/gro.webp">
          <p class="gr">Grocery</p>
        </a></div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/sur.webp">
          <p class="ms">Mobiles</p>
        </a></div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/fas.webp">
          <p class="fs">Fashion<span class="material-symbols-outlined">expand_more</span></p>
        </a>
        <div class="submenu">
          <ul>
            <li><a href='/'>Men's top wear <span class="material-symbols-outlined">
                  chevron_right
                </span></a>
              <div class="subb1">
                <ul>
                  <li><a>More in Men's Top wear</a></li>
                  <li><a>All</a></li>
                  <li><a>Men's T-shirts</a></li>
                  <li><a>Men's Casual Shirts</a></li>
                  <li><a>Men's Formal Shirts</a></li>
                  <li><a>Men's Kurtas</a></li>
                  <li><a>Men's Ethnic Sets</a></li>
                  <li><a>Men's Blazers</a></li>
                  <li><a>Men's Raincoat</a></li>
                  <li><a>Men's WindCheaters</a></li>
                  <li><a>Men's Suit</a></li>
                  <li><a>Men's Fabric</a></li>
                </ul>
              </div>
            </li>
            <li><a href='/'>Men's Bottom Wear</a>
              <div class="subb1">
                <ul>
                  <li><a>More in Men's Top wear</a></li>
                  <li><a>All</a></li>
                  <li><a>Men's jeans</a></li>
                  <li><a>Men's Trousers</a></li>
                  <li><a>Men's Trackpants</a></li>
                  <li><a>Men's Shorts</a></li>
                  <li><a>Men's Cargos</a></li>
                  <li><a>Men's Threefourths</a></li>
                  <li><a>Men's Pyjamas & Loungerpants</a></li>
                  <li><a>Men's Dhoti</a></li>
                  <li><a>Men's Ethnic Pyjama</a></li>
                </ul>
              </div>
            </li>
            <li><a href='/'>Women Ethnic </a>
              <div class="subb1">
                <ul>
                  <li><a>More in Women Ethnic</a></li>
                  <li><a>All</a></li>
                  <li><a>Women Sarees</a></li>
                  <li><a>Women Kurtas& Kurtis</a></li>
                  <li><a>Women Kurta Sets & Salwar Suits</a></li>
                  <li><a>Ethnic Dresses</a></li>
                  <li><a>Women Dress Materials</a></li>
                  <li><a>Women Gowns</a></li>
                  <li><a>Women Lehenga Cholis</a></li>
                  <li><a>Women Leggings & patialas</a></li>
                  <li><a>Women Palazzos & Shararas</a></li>
                  <li><a>Women Blouse</a></li>
                </ul>
              </div>
            </li>
            <li><a href='/'>Women Westren </a>
              <div class="subb1">
                <ul>
                  <li><a>More in Women Westren</a></li>
                  <li><a>All</a></li>
                  <li><a>Women Tops</a></li>
                  <li><a>Women Dresses</a></li>
                  <li><a>Women T-shirts & Polo T-shirts</a></li>
                  <li><a>Women Jeans</a></li>
                  <li><a>Women Nighties & Night Dresses</a></li>
                  <li><a>Women NightSuit</a></li>
                  <li><a>Women Trackpants</a></li>
                  <li><a>Women Trouser</a></li>
                  <li><a>Women Jumpsuit</a></li>
                  <li><a>Women Shapewear</a></li>
                </ul>
              </div>
            </li>
            <li><a href='/'>Mens Footwear</a>
              <div class="subb1">
                <ul>
                  <li><a>More in Men's Footwear</a></li>
                  <li><a>All</a></li>
                  <li><a>Men's Sports Shoes</a></li>
                  <li><a>Men's Casual Shoes</a></li>
                  <li><a>Men's Sandal's & Floaters</a></li>
                  <li><a>Men's Slippers & FlipPops</a></li>
                  <li><a>Men's Formal Shoes</a></li>
                  <li><a>Men's Ethnic Shoes</a></li>
                  <li><a>Active Footwear</a></li>
                  <li><a>Combo Footwear</a></li>
                  <li><a>Shoe Care</a></li>
                </ul>
              </div>
            </li>
            <li><a href='/'>Women Footwear </a>
              <div class="subb1">
                <ul>
                  <li><a>More in Women Footwear</a></li>
                  <li><a>All</a></li>
                  <li><a>Women Flats</a></li>
                  <li><a>Women Heels </a></li>
                  <li><a> Women Wedges</a></li>
                  <li><a>Woomen Slipper Flip Flops</a></li>
                  <li><a>Women Casual Shoes</a></li>
                  <li><a>Women Sports Shoes </a></li>
                  <li><a> Women Ballerinas</a></li>
                  <li><a>Women Ethnic Shoes</a></li>
                  <li><a>Women Sneakers</a></li>
                  <li><a>Women Walking shoes</a></li>
                </ul>
              </div>
            </li>
            <li><a href='/'>Watches and Accessories </a>
              <div class="subb1">
                <ul>
                  <li><a>More in Watches and Accessories</a></li>
                  <li><a>Men & Women Watches</a></li>
                  <li><a>Men & Women Sunglasses</a></li>
                  <li><a>Wallets</a></li>
                  <li><a>Men & Women Belts</a></li>
                  <li><a>Women Fashion Jewellery</a></li>
                  <li><a>Men Fashion Jewellery</a></li>
                  <li><a>Precious Jewellery</a></li>
                  <li><a>Precious Coins & Bars </a></li>
                  <li><a>Precious Articles</a></li>
                  <li><a>Frames & Contact Lenses</a></li>
                  <li><a>Kids Accessories</a></li>
                </ul>
              </div>
            </li>
            <li><a href='/'>Bages,Suitcases & luggage </a>
              <div class="subb1">
                <ul>
                  <li><a>More in Bags,Suitcases & Luggage</a></li>
                  <li><a>All</a></li>
                  <li><a>Bags & Backpacks</a></li>
                  <li><a>Suitcases & Trolleys</a></li>
                  <li><a>Dufflebags</a></li>
                  <li><a>Handbags</a></li>
                  <li><a>Singbags</a></li>
                  <li><a>Women's Clutches & Wallets</a></li>
                  <li><a>Messenger Bags</a></li>
                  <li><a>Travel Accessories</a></li>
                </ul>
              </div>
            </li>
            <li><a href='/'>Kids</a>
              <div class="subb1">
                <ul>
                  <li><a>More in Kids</a></li>
                  <li><a>All</a></li>
                  <li><a>Girls Dresses</a></li>
                  <li><a>Boys & Girls T shirts</a></li>
                  <li><a>Boys & Girls Combosets</a></li>
                  <li><a>Boys & Girls Ethnic Wear</a></li>
                  <li><a>Boys & Girls Jeans</a></li>
                  <li><a>Boys & Girls Shorts</a></li>
                  <li><a>Boys & Girls Trackpants</a></li>
                  <li><a>Boys & Girls Innerwear</a></li>
                  <li><a>Infant Wear</a></li>
                  <li><a>Kids Slipper Flip Flops</a></li>
                  <li><a>Kids Sports Shoes</a></li>
                </ul>
              </div>
            </li>
            <li><a href='/'>Essentials </a>
              <div class="subb1">
                <ul>
                  <li><a>More in Essentials</a></li>
                  <li><a>Men's Briefs & Trunks</a></li>
                  <li><a>Men's Vests</a></li>
                  <li><a>Men's Boxers</a></li>
                  <li><a>Women Lingeria Sets</a></li>
                  <li><a>Women Bra</a></li>
                  <li><a>Women Panty</a></li>
                  <li><a>Women Sarees</a></li>
                  <li><a>Women Kurtas</a></li>
                  <li><a>Women Kurta sets & Salwar Suits</a></li>
                </ul>
              </div>
            </li>
            <li><a href='/'>Winter </a>
              <div class="subb1">
                <ul>
                  <li><a>More in Winter</a></li>
                  <li><a>All</a></li>
                  <li><a>Men's Jacket</a></li>
                  <li><a>Men's Sweatshirts</a></li>
                  <li><a>Men's Sweaters</a></li>
                  <li><a>Men's Thermals</a></li>
                  <li><a>Women's Jacket</a></li>
                  <li><a>Women's Sweatshirts</a></li>
                  <li><a>Women's Sweaters& Cardigans</a></li>
                  <li><a>Women's Shrugs</a></li>
                  <li><a>Kids Sweatshirts</a></li>
                  <li><a>Women Kurtas</a></li>
                  <li><a>Boys Innerwear</a></li>
                  <li><a>Kids Jacket</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/lap.webp">
          <p class="es">Electronics<span class="material-symbols-outlined">expand_more</span></p>
        </a>
        <div class="submenu2">
          <ul>
            <li><a>Audio</a>
              <div class="subb2">
                <ul>
                  <li><a>More in Audio</a></li>
                  <li><a>All</a></li>
                  <li><a>Bluetooth Headphones</a></li>
                  <li><a>Wired Headphones</a></li>
                  <li><a>True Wireless Earbuds</a></li>
                  <li><a>Bluetooth Speakers</a></li>
                  <li><a>Soundbars</a></li>
                  <li><a>Home Theatres</a></li>
                  <li><a>Tv Streaming Device</a></li>
                  <li><a>Remote Control</a></li>
                  <li><a>DTH Set top box</a></li>
                  <li><a>Headphones Pouch & Case Covers</a></li>
                </ul>
              </div>
            </li>
            <li><a>Electronics GST Store</a></li>
            <li><a>Cameras & Accessories</a>
              <div class="subb2">
                <ul>
                  <li><a>More in Camera Accessories</a></li>
                  <li><a>All</a></li>
                  <li><a>DSLR & Mirrorless</a></li>
                  <li><a>Sports & action</a></li>
                  <li><a>point & shoot</a></li>
                  <li><a>Instant Cameras</a></li>
                  <li><a>Camcorders</a></li>
                  <li><a>Camera Tripods</a></li>
                  <li><a>Camera Lenses</a></li>
                  <li><a>Drone</a></li>
                  <li><a>Flashes</a></li>
                  <li><a>Gimbals</a></li>
                  <li><a>Binoculars</a></li>
                  <li><a>Other Camera Accessories</a></li>
                </ul>
              </div>
            </li>
            <li><a>Computer Peripherals</a>
              <div class="subb2">
                <ul>
                  <li><a>More in Computer Peripherals</a></li>
                  <li><a>All</a></li>
                  <li><a>Printers</a></li>
                  <li><a>Monitors</a></li>
                  <li><a>Projectors</a></li>
                  <li><a>Portable Projectors</a></li>
                  <li><a>Toners</a></li>
                  <li><a>Ink Cartridges</a></li>
                  <li><a>Ink Bottles</a></li>
                  <li><a>Receipt Printers</a></li>
                  <li><a>Lamination Machines</a></li>
                  <li><a>Note Counting Machines</a></li>
                  <li><a>Barcode Scanners</a></li>
                  <li><a>Currency Detectors</a></li>
                </ul>
              </div>
            </li>
            <li><a>Gaming</a>
              <div class="subb2">
                <ul>
                  <li><a>More in Gaming </a></li>
                  <li><a>All</a></li>
                  <li><a>Gaming Consoles</a></li>
                  <li><a>Gaming Mouse</a></li>
                  <li><a>Gaming Keyboard</a></li>
                  <li><a>Gamepads</a></li>
                  <li><a>Games</a></li>
                  <li><a>Accessory Kits</a></li>
                  <li><a>Gaming Accessories Combo</a></li>
                  <li><a>Gaming Mouse pads</a></li>
                  <li><a>MemberShip Cards</a></li>
                  <li><a>Controllers</a></li>
                  <li><a>Other Gaming Accessories</a></li>
                  <li><a>Gaming Components</a></li>
                </ul>
              </div>
            </li>
            <li><a>Helath & Personal Care</a>
              <div class="subb2">
                <ul>
                  <li><a>More in Health & Personal Care</a></li>
                  <li><a>All</a></li>
                  <li><a>Trimmers</a></li>
                  <li><a>Shavers</a></li>
                  <li><a>Hair Straighteners</a></li>
                  <li><a>Hair Dryers</a></li>
                  <li><a>Epilators</a></li>
                  <li><a>Glucometers And Accessories</a></li>
                  <li><a>Blood Pressure Monitors</a></li>
                  <li><a>Digital Thermometers</a></li>
                  <li><a>Weighing scales</a></li>
                  <li><a>Massagers</a></li>
                  <li><a>Nebuilzers </a></li>
                  <li><a>Vaporizers</a></li>
                </ul>
              </div>
            </li>
            <li><a>Laptop Accessories</a>
              <div class="subb2">
                <ul>
                  <li><a>More in Laptop Accessories</a></li>
                  <li><a href="#">Mouse</a></li>
                  <li><a href="#">Laptop Keyboards</a></li>
                  <li><a href="#">Router</a></li>
                  <li><a href="#">Data Cards</a></li>
                  <li><a href="#">UPS</a></li>
                  <li><a href="#">USB Gadgets</a></li>
                  <li><a href="#">Security Software</a></li>
                  <li><a href="#">Laptop Battery</a></li>
                  <li><a href="#">Laptop Adapter</a></li>
                  <li><a href="#">Wireless USB Adaptor</a></li>
                  <li><a href="#">Processor</a></li>
                  <li><a href="#">Other Accessories</a></li>

                </ul>
              </div>
            </li>
            <li><a>Laptop and Desktop</a>
              <div class="subb2">
                <ul>
                  <li><a>More in Laptop and desktop</a></li>
                  <li><a>All</a></li>
                  <li><a href="#">Gaming Laptops</a></li>
                  <li><a href="#">Desktops</a></li>
                  <li><a href="#">All-in-One PCs</a></li>
                  <li><a href="#">Mini PCs</a></li>
                  <li><a href="#">Tower PCs</a></li>
                  <li><a href="#">PC Finder</a></li>
                  <li><a href="#">GST Invoice with Laptops</a></li>
                  <li><a href="#">Laptop Buying Guides</a></li>
                </ul>
              </div>
            </li>
            <li><a>MobileAccessory</a>
              <div class="subb2">
                <ul>
                  <li><a>More in Audio</a></li>
                  <li><a>All</a></li>
                  <li><a>Bluetooth Headphones</a></li>
                  <li><a>Wired Headphones</a></li>
                  <li><a>True Wireless Earbuds</a></li>
                  <li><a>Bluetooth Speakers</a></li>
                  <li><a>Soundbars</a></li>
                  <li><a>Home Theatres</a></li>
                  <li><a>Tv Streaming Device</a></li>
                  <li><a>Remote Control</a></li>
                  <li><a>DTH Set top box</a></li>
                  <li><a>Headphones Pouch & Case Covers</a></li>
                </ul>
              </div>
            </li>
            <li><a>Powerbank</a>

              <div class="subb2">
                <ul>
                  <li><a>More in Powerbank</a></li>
                  <li><a>All</a></li>
                  <li><a>Powerbank</a></li>
                </ul>
              </div>
            </li>
            <li><a>Smart Home automation </a>
              <div class="subb2">
                <ul>
                  <li><a>More in Smart Home automation </a></li>
                  <li><a>All</a></li>
                  <li><a>Smart Assistants</a></li>
                  <li><a>Smart Lights</a></li>
                  <li><a>Smart Cameras</a></li>
                  <li><a>Smart Switches</a></li>
                  <li><a>Smart Door Locks</a></li>
                  <li><a>Sensors & Alarms</a></li>
                </ul>
              </div>
            </li>
            <li><a>Smart Wearables</a>
              <div class="subb2">
                <ul>
                  <li><a>More in Smart Wearables</a></li>
                  <li><a>All</a></li>
                  <li><a>Smart Watches</a></li>
                  <li><a>Smart Brands</a></li>
                  <li><a>Smart Glasses</a></li>
                </ul>
              </div>
            </li>
            <li><a>Storage</a>
              <div class="subb2">
                <ul>
                  <li><a>More in Storage</a></li>
                  <li><a>All</a></li>
                  <li><a>MobileMemoryCard</a></li>
                  <li><a>ComputerStoragePendrive</a></li>
                  <li><a>MobileStoragePendrive</a></li>
                  <li><a>ExternalHardDrive</a></li>
                  <li><a>InternalHardDrive</a></li>
                </ul>
              </div>
            </li>
            <li><a>Tablets</a>
              <div class="subb2">
                <ul>
                  <li><a>More in Audio</a></li>
                  <li><a>All</a></li>
                  <li><a>Bluetooth Headphones</a></li>
                  <li><a>Wired Headphones</a></li>
                  <li><a>True Wireless Earbuds</a></li>
                  <li><a>Bluetooth Speakers</a></li>
                  <li><a>Soundbars</a></li>
                  <li><a>Home Theatres</a></li>
                  <li><a>Tv Streaming Device</a></li>
                  <li><a>Remote Control</a></li>
                  <li><a>DTH Set top box</a></li>
                  <li><a>Headphones Pouch & Case Covers</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/fun.webp">
          <p class="hs">Home&Furniture<span class="material-symbols-outlined">expand_more</span></p>
        </a>
        <div class="submenu3">
          <ul>
            <li><a>Home Furnishings</a>
              <div class="subb3">
                <ul>
                  <li><a>More in Home Furnishings</a></li>
                  <li><a href="#">All</a></li>
                  <li><a href="#">Bed Linens</a></li>
                  <li><a href="#">Bedsheets</a></li>
                  <li><a href="#">Blankets</a></li>
                  <li><a href="#">Curtains & Accessories</a></li>
                  <li><a href="#">K actions</a></li>
                  <li><a href="#">Bath Linen</a></li>
                  <li><a href="#">Floor Coverings</a></li>
                  <li><a href="#">Covers & Protectors</a></li>
                  <li><a href="#">Cushions & Pillows</a></li>
                  <li><a href="#">Kitchen Linen Sets</a></li>
                  <li><a href="#">Table Linen Sets</a></li>
                  <li><a href="#">Sofa & Curtain Fabrics</a></li>
                  <li><a href="#">Branded Collections</a></li>
                </ul>

              </div>
            </li>
            <li><a href="#">Furniture Studio</a></li>
            <li><a href="#">Living Room Furniture</a>
              <div class="subb3">
                <ul>
                  <li><a href="#">All</a></li>
                  <li><a href="#">Sofas Sets & Sectionals</a></li>
                  <li><a href="#">2PM</a></li>
                  <li><a href="#">TV Units</a></li>
                  <li><a href="#">Dining Sets</a></li>
                  <li><a href="#">Coffee Tables</a></li>
                  <li><a href="#">Sofa Beds</a></li>
                  <li><a href="#">Recliners</a></li>
                  <li><a href="#">Living Room Chairs</a></li>
                  <li><a href="#">Cabinet & Drawers</a></li>
                  <li><a href="#">Bookshelves</a></li>
                  <li><a href="#">Shoe Racks</a></li>
                  <li><a href="#">Office Tables</a></li>
                  <li><a href="#">Office Chairs</a></li>
                </ul>

              </div>
            </li>
            <li><a href="#">Kitchen & Dining</a>
              <div class="subb3">
                <ul>
                  <li><a href="#">All</a></li>
                  <li><a href="#">Sofas Sets & Sectionals</a></li>
                  <li><a href="#">2PM</a></li>
                  <li><a href="#">TV Units</a></li>
                  <li><a href="#">Dining Sets</a></li>
                  <li><a href="#">Coffee Tables</a></li>
                  <li><a href="#">Sofa Beds</a></li>
                  <li><a href="#">Recliners</a></li>
                  <li><a href="#">Living Room Chairs</a></li>
                  <li><a href="#">Cabinet & Drawers</a></li>
                  <li><a href="#">Bookshelves</a></li>
                  <li><a href="#">Shoe Racks</a></li>
                  <li><a href="#">Office Tables</a></li>
                  <li><a href="#">Office Chairs</a></li>
                </ul>

              </div>
            </li>
            <li><a href="#">Bedroom Furniture</a>
              <div class="subb3">
                <ul>
                  <li><a href="#">All</a></li>
                  <li><a href="#">Mattresses</a></li>
                  <li><a href="#">Beds</a></li>
                  <li><a href="#">2PM</a></li>
                  <li><a href="#">Wardrobes</a></li>
                  <li><a href="#">Side Tables</a></li>
                  <li><a href="#">TV Units</a></li>
                  <li><a href="#">Office Tables</a></li>
                  <li><a href="#">Office Chairs</a></li>
                  <li><a href="#">Bookshelves</a></li>
                  <li><a href="#">Bar Cabinets</a></li>
                  <li><a href="#">Bar Stools</a></li>
                  <li><a href="#">Rocking Chairs</a></li>
                  <li><a href="#">Benches</a></li>
                </ul>

              </div>
            </li>

            <li><a href="#">Tools & Utility</a>
              <div class="subb3">
                <ul>
                  <li><a href="#">More in Tools & utility</a></li>
                  <li><a>All</a></li>
                  <li><a href="#">Hand Tools</a></li>
                  <li><a href="#">Power Tools</a></li>
                  <li><a href="#">Measuring Tools</a></li>
                  <li><a href="#">Home Storage & Organizers</a></li>
                  <li><a href="#">Umbrellas</a></li>
                  <li><a href="#">Appliance Trolley & Stands</a></li>
                  <li><a href="#">Cloth Dryer Stand</a></li>
                  <li><a href="#">Appliance Filter & Cartridges</a></li>
                  <li><a href="#">Laundry Organization</a></li>
                  <li><a href="#">Lock & Security</a></li>
                  <li><a href="#">Fire & Personal Safety</a></li>

                </ul>

              </div>
            </li>
            <li><a href="#">Work Space Furniture</a>

            </li>
            <li><a href="#">Lightings & Electricals</a>
              <div class="subb3">
                <ul>
                  <a href="#">More in Lightings & Electricals</a>
                  <li><a href="#">All</a></li>
                  <li><a href="#">Trave</a></li>
                  <li><a href="#">Bulbs</a></li>
                  <li><a href="#">Emergency Lights</a></li>
                  <li><a href="#">Torches</a></li>
                  <li><a href="#">Tubelights</a></li>
                  <li><a href="#">Extension Cords</a></li>
                  <li><a href="#">Outdoor Lamps</a></li>
                  <li><a href="#">Batteries</a></li>
                  <li><a href="#">Electrical Wire</a></li>
                  <li><a href="#">Electrical Socket</a></li>
                  <li><a href="#">Electric DoorBell</a></li>
                  <li><a href="#">Solar Lights, Panels & Batteries</a></li>


                </ul>

              </div>
            </li>
            <li><a href="#">Space Saving Furniture</a>
              <div class="subb3">
                <ul>
                  <li><a href=" ">Portable Laptop Tables</a></li>
                  <li><a href="# ">Collapsible Wardrobes</a></li>
                  <li><a href="# ">Bean Bags & Covers</a></li>
                  <li><a href="#shoe-racks">Shoe Racks</a></li>
                  <li><a href="#cabinet-drawers">Cabinet Drawers</a></li>
                  <li><a href="#inflatable-sofas">Inflatable Sofas</a></li>
                  <li><a href="#hammock-swings">Hammock Swings</a></li>
                  <li><a href="#home-temples">Home Temples</a></li>
                  <li><a href="#bookshelves">Bookshelves</a></li>
                  <li><a href="#tv-mounts">TV Mounts</a></li>
                  <li><a href="#kitchen-trolley">Kitchen Trolley</a></li>
                  <li><a href="#kitchen-cabinet">Kitchen Cabinet</a></li>
                </ul>

              </div>
            </li>
            <li><a href="#">Cleaning & Bath</a>
              <div class="subb3">
                <ul>
                  <li><a href="#mops">Mops</a></li>
                  <li><a href="#cleaning-supplies">Cleaning Supplies</a></li>
                  <li><a href="#house-hold-supplies">House Hold Supplies</a></li>
                  <li><a href="#air-fresheners">Air Fresheners</a></li>
                  <li><a href="#cleaning-gloves">Cleaning Gloves</a></li>
                  <li><a href="#liquid-detergents">Liquid Detergents</a></li>
                  <li><a href="#taps-faucet">Taps & Faucet</a></li>
                  <li><a href="#toothbrush-holder">Toothbrush Holder</a></li>
                  <li><a href="#bathroom-rack-shelves">Bathroom Rack & Shelves</a></li>
                  <li><a href="#shower-heads">Shower Heads</a></li>
                  <li><a href="#bath-kitchen-fittings">Bath & Kitchen Fittings</a></li>
                  <li><a href="#bath-kitchen-fittings">Bathroom Accessories</a></li>
                </ul>

              </div>
            </li>
            <li><a href="#">Kids Furniture</a>
              <div class="subb3">
                <ul>
                  <li><a href="#">All</a></li>
                  <li><a href="#bunk-beds">Bunk Beds</a></li>
                  <li><a href="#kids-seating">Kids' Seating</a></li>
                  <li><a href="#kids-table">Kids' Table</a></li>
                  <li><a href="#kids-chairs">Kids' Chairs</a></li>
                  <li><a href="#kids-sofas">Kids' Sofas</a></li>
                  <li><a href="#bookshelves">Bookshelves</a></li>
                  <li><a href="#chest-of-drawers">Chest of Drawers</a></li>
                  <li><a href="#cupboards">Cupboards</a></li>
                  <li><a href="#shoe-racks">Shoe Racks</a></li>
                  <li><a href="#kids-bean-bags">Kids' Bean Bags</a></li>
                  <li><a href="#portable-pool">Portable Pool</a></li>
                </ul>

              </div>
            </li>
            <li><a href="#">Pet & Gardening</a>
              <div class="subb3">
                <ul>
                  <li><a href="#">All</a></li>
                  <li><a href="#plant-seeds">Plant Seeds</a></li>
                  <li><a href="#soil-manure">Soil Manure</a></li>
                  <li><a href="#pots-planters">Pots & Planters</a></li>
                  <li><a href="#garden-tool-set">Garden Tool Set</a></li>
                  <li><a href="#watering-equipments">Watering Equipments</a></li>
                  <li><a href="#dog-essentials">Dog Essentials</a></li>
                  <li><a href="#cat-essentials">Cat Essentials</a></li>
                  <li><a href="#fish-aquatic">Fish & Aquatic</a></li>
                  <li><a href="#pet-grooming-hygiene">Pet Grooming & Hygiene</a></li>
                  <li><a href="#pet-toys">Pet Toys</a></li>
                </ul>

              </div>
            </li>

          </ul>
        </div>
      </div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/app.webp">
          <p class="as">Appliances</p>
        </a></div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/travel.webp">
          <p class="ts">Travel</p>
        </a></div>
      <div class="item-in"><a routerLink="#"><img src="../../../assets/topoffers.webp">
          <p class="os">Top Offers</p>
        </a></div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/beauty.webp">
          <p class="bs">Beauty,Toy&More<span class="material-symbols-outlined">expand_more</span></p>
        </a>
        <div class="submenu4">
          <ul>
            <li><a href="#mens-grooming">Men's Grooming</a>
              <div class="subb4">
                <ul>
                  <li><a href="#">All</a></li>
                  <li><a href="#bath-oral-care">Bath & Oral Care</a></li>
                  <li><a href="#personal-hygiene">Personal Hygiene</a></li>
                  <li><a href="#eye-makeup">Eye Makeup</a></li>
                  <li><a href="#face-makeup">Face Makeup</a></li>
                  <li><a href="#lip-makeup">Lip Makeup</a></li>
                  <li><a href="#hair-care">Hair Care</a></li>
                  <li><a href="#bath-essentials">Bath Essentials</a></li>
                  <li><a href="#womens-personal-hygiene">Women's Personal Hygiene</a></li>
                  <li><a href="#body-skin-care">Body & Skin Care</a></li>
                  <li><a href="#luxury">Luxury</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">Food & Drinks</a>
              <div class="subb4">
                <ul>
                  <li><a href="#">All</a></li>
                  <li><a href="#face-washes">Face Washes</a></li>
                  <li><a href="#beard-oils">Beard Oils</a></li>
                  <li><a href="#hair-styling">Hair Styling</a></li>
                  <li><a href="#shaving-essentials">Shaving Essentials</a></li>
                  <li><a href="#aftershave">Aftershave</a></li>
                  <li><a href="#face-creams-face-packs">Face Creams & Face Packs</a></li>
                  <li><a href="#soaps-bodywashes">Soaps & Bodywashes</a></li>
                  <li><a href="#mens-grooming-combos">Men's Grooming Combos</a></li>
                  <li><a href="#sexual-wellness">Sexual Wellness</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#nutrition-health-care">Nutrition & Health Care</a>
              <div class="subb4">
                <ul>
                  <li><a href="#beverages">Beverages</a></li>
                  <li><a href="#nuts-dry-fruits">Nuts & Dry Fruits</a></li>
                  <li><a href="#cooking-essentials">Cooking Essentials</a></li>
                  <li><a href="#breakfast-items">Breakfast Items</a></li>
                  <li><a href="#snacks-corner">Snacks Corner</a></li>
                  <li><a href="#jams-spreads-honey">Jams, Spreads & Honey</a></li>
                  <li><a href="#ready-to-cook-eat">Ready to Cook & Eat</a></li>
                  <li><a href="#chocolates">Chocolates</a></li>
                  <li><a href="#baking-essentials">Baking Essentials</a></li>
                  <li><a href="#sweets-store">Sweets Store</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#baby-care">Baby Care</a>
              <div class="subb4">
                <ul>
                  <li><a href="#baby-diapers">Baby Diapers</a></li>
                  <li><a href="#baby-wipes">Baby Wipes</a></li>
                  <li><a href="#baby-bath-grooming">Baby Bath & Grooming</a></li>
                  <li><a href="#baby-gift-sets-combo">Baby Gift Sets & Combo</a></li>
                  <li><a href="#baby-medical-health-care">Baby Medical & Health Care</a></li>
                  <li><a href="#nursing-breast-feeding">Nursing & Breast Feeding</a></li>
                  <li><a href="#feeding-bottles-utensils-accessories">Feeding Bottles, Utensils & Accessories</a></li>
                  <li><a href="#baby-food">Baby Food</a></li>
                  <li><a href="#baby-bedding">Baby Bedding</a></li>
                  <li><a href="#baby-gear">Baby Gear</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#toys-school-supplies">Toys & School Supplies</a>
              <div class="subb4">
                <ul>
                  <li><a href="#remote-control-toys">Remote Control Toys</a></li>
                  <li><a href="#soft-toys">Soft Toys</a></li>
                  <li><a href="#puzzles">Puzzles</a></li>
                  <li><a href="#board-games">Board Games</a></li>
                  <li><a href="#learning-educational-toys">Learning & Educational Toys</a></li>
                  <li><a href="#cars-die-cast-vehicles">Cars & Die-Cast Vehicles</a></li>
                  <li><a href="#baby-toys">Baby Toys</a></li>
                  <li><a href="#gifting-toys">Gifting Toys</a></li>
                  <li><a href="#school-bags-backpacks">School Bags & Backpacks</a></li>
                  <li><a href="#school-supplies">School Supplies</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#sports-fitness">Sports & Fitness</a>
              <div class="subb4">
                <ul>
                  <li><a href="#badminton">Badminton</a></li>
                  <li><a href="#cricket">Cricket</a></li>
                  <li><a href="#cycling">Cycling</a></li>
                  <li><a href="#football">Football</a></li>
                  <li><a href="#fitness-equipments">Fitness Equipments</a></li>
                  <li><a href="#supports">Supports</a></li>
                  <li><a href="#shakers-sippers">Shakers & Sippers</a></li>
                  <li><a href="#gym-gloves">Gym Gloves</a></li>
                  <li><a href="#dumbbells">Dumbbells</a></li>
                  <li><a href="#yoga">Yoga</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#books">Books</a>
              <div class="subb4">
                <ul>
                  <li><a href="#test-prep">Test Prep</a></li>
                  <li><a href="#academics">Academics</a></li>
                  <li><a href="#literature-fiction">Literature & Fiction</a></li>
                  <li><a href="#non-fiction">Non Fiction</a></li>
                  <li><a href="#young-readers">Young Readers</a></li>
                  <li><a href="#audio-books">Audio Books</a></li>
                  <li><a href="#indian-languages">Indian Languages</a></li>
                </ul>
              </div>
            </li>

            <li><a href="#music">Music</a>
              <div class="subb4">
                <ul>
                  <li><a href="#musical-instruments">Musical Instruments</a></li>
                  <li><a href="#music-tv-shows">Music & TV Shows</a></li>
                  <li><a href="#acoustic-guitars">Acoustic Guitars</a></li>
                  <li><a href="#keys-and-synthesizer">Keys and Synthesizer</a></li>
                  <li><a href="#microphones">Microphones</a></li>
                  <li><a href="#studio-and-stage-equipment">Studio and Stage Equipment</a></li>
                  <li><a href="#string-instruments">String Instruments</a></li>
                  <li><a href="#indian-instruments">Indian Instruments</a></li>
                  <li><a href="#lies">Lies</a></li>
                  <li><a href="#wind-instruments">Wind Instruments</a></li>
                </ul>
              </div>
            </li>

            <li><a href="#stationery-office-supplies">Stationery & Office Supplies</a>
              <div class="subb4">
                <ul>
                  <li><a href="#pens-gift-sets">Pens & Gift Sets</a></li>
                  <li><a href="#notebooks-diaries">Notebooks & Diaries</a></li>
                  <li><a href="#art-supplies">Art Supplies</a></li>
                  <li><a href="#calculators">Calculators</a></li>
                  <li><a href="#s">S</a></li>
                  <li><a href="#keychains">Keychains</a></li>
                  <li><a href="#card-holders">Card Holders</a></li>
                  <li><a href="#desk-organizers">Desk Organizers</a></li>
                  <li><a href="#office-supplies">Office Supplies</a></li>
                  <li><a href="#office-equipments">Office Equipments</a></li>
                  <li><a href="#party-supplies">Party Supplies</a></li>

                </ul>
              </div>
            </li>
            <li><a href="#auto-accessories">Auto Accessories</a>
              <div class="subb4">
                <ul>
                  <li><a href="#bike-essentials">Bike Essentials</a></li>
                  <li><a href="#car-bike-covers">Car & Bike Covers</a></li>
                  <li><a href="#car-air-freshener">Car Air Freshener</a></li>
                  <li><a href="#car-bluetooth-device">Car Bluetooth Device</a></li>
                  <li><a href="#car-lubricant">Car Lubricant</a></li>
                  <li><a href="#car-vacuum-cleaner">Car Vacuum Cleaner</a></li>
                  <li><a href="#car-media-player">Car Media Player</a></li>
                  <li><a href="#helmet">Helmet</a></li>
                  <li><a href="#vehicle-washing-cleaning-products">Vehicle Washing & Cleaning Products</a></li>
                  <li><a href="#tyres">Tyres</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#auto-accessories">Safety & hygenic Essentials</a>
              <div class="subb4">
                <ul>
                  <li><a href="#masks">Masks</a></li>
                  <li><a href="#sanitizers">Sanitizers</a></li>
                  <li><a href="#hand-wash">Hand Wash</a></li>
                  <li><a href="#gloves">Gloves</a></li>
                  <li><a href="#ppe-kits">PPE Kits</a></li>
                  <li><a href="#face-shields">Face Shields</a></li>
                  <li><a href="#uv-sterilizer-box">UV Sterilizer Box</a></li>
                  <li><a href="#supplies">Supplies</a></li>
                  <li><a href="#safety-goggles">Safety Goggles</a></li>
                  <li><a href="#vitamins-for-immunity">Vitamins for Immunity</a></li>
                </ul>
              </div>

            </li>
          </ul>
        </div>
      </div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/bikes.webp">
          <p class="tws">Two wheelers<span class="material-symbols-outlined">expand_more</span></p>
        </a>
        <div class="submenu5">
          <ul>
            <li><a href="/">Petrol vehicles</a></li>
            <li><a href="/">Desiel vehicles</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="slider">
      <button type="button" class="btn1" (click)="showprev()"><img src="../../../assets/left.jpg"
          height="80px"></button>
      <div class="carousal-container">
        <div class="carousal-block" id="carousal">
          <img [src]="imageblock[currentslide]" alt="image">
        </div>
      </div>
      <button type="button" class="btn2" (click)="shownext()"><img src='../../../assets/right.jpg'
          height="80px"></button>
    </div>

    <div class="slider2">
      <h3 class="head">Best of Electronics</h3>
      <div class="slider2-block" *ngFor="let img of slideblock2">
        <img [src]="img.image" alt="slider img">
        <p>{{img.title}}</p>
        <span>From {{img.price}}</span>
      </div>
    </div>
    <div class="slider3">
      <h3 class="head1">Beauty,Toys & More </h3>
      <div class="sliderblock3" *ngFor="let im of sliderblock3">
        <img [src]="im.image">
        <p>{{im.title}}</p>
        <span>From {{im.price}}</span>
      </div>
    </div>
    <div class="slider4">
      <h3 class="head2">Sports Health Care & More</h3>
      <div class="sliderblock4" *ngFor="let img3 of sliderblock4">
        <img [src]="img3.image">
        <p>{{img3.title}}</p>
        <span>From {{img3.price}}</span>
      </div>
    </div>
    <div class="slider3">
      <h3 class="head1">Home & Kitchen Essentials </h3>
      <div class="sliderblock3" *ngFor="let im of sliderblock5">
        <img [src]="im.image">
        <p>{{im.title}}</p>
        <span>From {{im.price}}</span>
      </div>
    </div>
    <div class="slider3">
      <h3 class="head1">Grooming,Books,Auto&More </h3>
      <div class="sliderblock3" *ngFor="let im of sliderblock6">
        <img [src]="im.image">
        <p>{{im.title}}</p>
        <span>From {{im.price}}</span>
      </div>
    </div>
  </section>
  <footer>
    <app-footer></app-footer>
  </footer>
</body>

</html>