*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:150vh;
    background-color:rgba(244, 244, 244, 0.824);
}
section{
    overflow-x: hidden;
    margin-top:70px;
}
.items{
    width:100%;
    margin-top:12px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction:row;
    justify-content:space-evenly;
    height:130px;
    background-color:white;
}
.items a{
    margin-left:22px;
    text-decoration: none;
    font-weight:700;
    color:black;
}
.item-in{
    height:100px;
    width:12%;
    text-align:center;
}
.item-in p{
    text-align:center;
    font-size:14px;
    width: 100%;
    margin-left:8px;
}
.item-in p span{
    position:absolute;
    margin-top: -2px;
}
.items img{
    padding-top:4px;
    height: 64px;
    margin-bottom: 5px;
}
.slider{
    margin-top:20px;
    width: 100%;
    display: block;
    margin-left: 12px;    
}
.carousal-block img{
    width: 100%;
    height: auto;
    opacity:1;
}
.btn1{
    position: absolute;
    margin-top:60px;

}
.btn2{
    position:absolute;
    right:2.5%;
    transform: translateX(100%);
    margin-top:-150px;
}
p:hover {
    color: blue;
}
p:hover span{
    color:blue;
    transform: rotate(180deg);

}
.slider2{
    background-color:white;
    width:98%;
    margin:7px 12px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    padding:40px 10px;
}
.slider2 h3{
    font-family: 'Times New Roman', Times, serif;
    float: left;
}
.slider2-block{
    margin:0px 10px;
    background-color:white;
    padding:3px;
    text-align: center;
    border:1px solid rgba(0,0,0,0.3);
    overflow: hidden;
    height:250px;
    width:300px;
    justify-content: space-evenly;

}
.slider2-block img{
    width: 170px;
    height:180px;
    transform: scale(0.9);
    margin-bottom:5px;
    object-fit: contain;
}
.slider2-block img:hover{
    transform: scale(1);
}
.slider2-block span{
    font-weight: bold;
}
.slider3{
    width:98%;
    background-color:white;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-evenly;
    padding:50px 10px;
    margin:10px 10px;
}
.sliderblock3{
    margin:0px 10px;
    background-color: white;
    text-align: center;
    padding:3px;
    border:1px solid rgba(0, 0, 0, 0.388);
    overflow: hidden;
    height:250px;
    width:200px;

}
.sliderblock3 img{
    width:170px;
    height:180px;
    object-fit: contain;
    transform: scale(0.9);
}
.sliderblock3 img:hover{
    transform: scale(1);
}
.slider4{
    background-color: white;
    width:98%;
    display: flex;
    flex-direction: row;
    overflow:hidden;
    justify-content: space-evenly;
    padding:40px 10px;
    margin:15px 10px;
}
.sliderblock4{
    overflow: hidden;
    width:190px;
    height:230px;
    border: 1px solid rgba(0, 0, 0, 0.386);
    margin:10px  10px;
    padding:3px;
    text-align: center;
    margin-bottom: 4px;
}
.sliderblock4 img{
    width: 170px;
    height: 180px;
    object-fit: contain;
    transform: scale(0.9);
}
.sliderblock4 img:hover{
    transform: scale(1);
}
.sliderblock4 span{
    font-weight: bold;
}
.head2{
    position: absolute;
    margin-top: -20px;
    font-size: 20px;
    left:4%;

}
.head1{
    position: absolute;
    margin-top:-33px;
    font-size:20px;
    left:3%;
    margin-bottom: 4px;
    
}
.slider3 span{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

.head{
    position:absolute;
    margin-top:-50px;
    padding-top:13px;
    left: 3%;
    font-size:20px;
}
.submenu{
    width:280px;
    margin-top:14px;
    display:none;
    background-color: whitesmoke;
    height:max-content;
    position:absolute;
    left:6%;
    border: 1px solid #ccc;
    padding:5px;
    text-align: left;
    z-index: 1;
}
.item-in:hover .submenu{
    display:inline;
}
.item-in .submenu li {
    list-style-type: none;
    margin-top: 12px;
    padding:7px;
}
.submenu li a{
    color: #0000007c;
}
.submenu li a:hover,.submenu li:hover{
    color: #000000;
    background-color: #ccc;
}
 
.submenu2{
    width: auto;
    display:none;
    position:absolute;
    top:35%;
    left:30%;
    background-color: #fff;
    border:1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.submenu2 ul li{
    padding:7px;
}
.item-in:hover .submenu2{
    display: block;
}
.submenu2 ul li a:hover {
    background-color: #f0f0f0;
  }
.submenu2 ul li{
    list-style-type: none;
}
.submenu2 ul li a:hover{
    color: #000000;
}
.submenu3{
    width: auto;
    display:none;
    position:absolute;
    top:30%;
    left:40%;
    background-color: #fff;
    border:1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.submenu3 ul li {
    list-style-type: none;
    padding: 4px;
}
.item-in:hover .submenu3{
    display: block;
}
.submenu4{
    width: auto;
    display:none;
    position:absolute;
    top:35%;
    left:80%;
    background-color: #fff;
    border:1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.submenu4 ul li {
    list-style-type: none;
    padding: 4px;
}
.item-in:hover .submenu4{
    display: block;
}
.submenu5{
    width: auto;
    display:none;
    position:absolute;
    top:35%;
    left:90%;
    background-color: #fff;
    border:1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.submenu5 ul li {
    list-style-type: none;
    padding: 4px;
}
.item-in:hover .submenu5{
    display: block;
}
/* sublist for submenu */
.subb1{
    width:278px;
    height: max-content;
    display: none;
    position: absolute;
    top:0%;
    left:100%;
    background-color: #fff;
    border:1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.subb1 ul li{
    list-style-type:none;
}
.submenu li:hover .subb1{
    display: block;
}
.submenu ul span{
    position:absolute;
    margin-left:100px;
    margin-top: -4px;
    
}