<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <section>
    <div class="items">
      <div class="item-in"> <a routerLink="/"><img src="../../../assets/gro.webp"><label class="gr">Grocery</label></a></div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/sur.webp"><label class="ms">Mobiles</label></a></div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/fas.webp"><label class="fs">Fashion</label></a></div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/lap.webp"><label class="es">Electronics</label></a></div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/fun.webp"><label class="hs">Home&Furniture</label></a></div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/app.webp"><label class="as">Appliances</label></a></div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/travel.webp"><label class="ts">Travel</label></a></div>
      <div class="item-in"><a routerLink="#"><img src="../../../assets/topoffers.webp"><label class="os">Top Offers</label></a></div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/beauty.webp"><label class="bs">Beauty,Toys&More</label></a></div>
      <div class="item-in"> <a routerLink="#"><img src="../../../assets/bikes.webp"><label class="tws">Two wheelers</label></a></div>
    </div>
    <div class="slider">
      <button type="button" class="btn1"  (click)="showprev()"><img src="../../../assets/left.jpg" height="80px"></button>
      <div class="carousal-container">
        <div class="carousal-block" id="carousal">
          <img [src]="imageblock[currentslide]" alt="image">
        </div>
      </div>
      <button type="button" class="btn2"  (click)="shownext()"><img src='../../../assets/right.jpg' height="80px"></button>
    </div>

  <div class="slider2">
    <h3 class="head">Best of Electronics</h3>
    <div class="slider2-block" *ngFor="let img of slideblock">
      <img [src]="img.image" alt="slider img">
      <p>{{img.title}}</p>
      <span>From ${{img.price}}</span>
    </div>
  </div>
</section>
   
</body>
</html>