*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:150vh;
    background-color:rgba(244, 244, 244, 0.824);
}
section{
    overflow-x: hidden;
    margin-top:70px;
}
.items{
    width:98%;
    margin-top:12px;
    margin-right:6px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left:15px;
    height:130px;
    padding:15px;
    background-color:white;
}
.items a{
    margin-left:22px;
    text-decoration: none;
    font-weight:700;
    color:black;
}
.item-in{
    height:100px;
    width:9%;
    justify-content: center;
    text-align: center;
}
.item-in span{
    position:absolute;
}
.item-in label{
    text-align: left;
    font-size:14px;
}
.items img{
    padding-top:4px;
    height: 64px;
    margin-bottom: 5px;
}
.slider{
    margin-top:20px;
    width: 100%;
    display: block;
    margin-left: 12px;    
}
.gr{
    position: relative;
    margin-left:30px;
}
.ms{
    margin-left:36px;
}
.fs{
    margin-left:26px;
}
.es{
   margin-left: 25px;
}
.hs{
    padding-top:3px;
    margin-left: 14px;
}
.as{
    margin-left:27px;
}
.ts{
    margin-left:37px;
}
.os{
    margin-left:34px;
}
.bs{
    margin-left:25px;
}
.tws{
    margin-left: 23px;
}
label{
    padding-top: 4px;
    font-size: 15px;
    cursor: pointer;
}

.carousal-block img{
    width: 100%;
    height: auto;
    opacity:1;
}
.btn1{
    position: absolute;
    margin-top:60px;

}
.btn2{
    position:absolute;
    right:2.5%;
    transform: translateX(100%);
    margin-top:-150px;

}
.slider2{
    background-color:white;
    width:98%;
    margin:7px 12px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    padding:40px 10px;
}
.slider2 h3{
    font-family: 'Times New Roman', Times, serif;
    float: left;
}
.slider2-block{
    margin:0px 10px;
    background-color:white;
    padding:3px;
    text-align: center;
    border:1px solid rgba(0,0,0,0.3);
    overflow: hidden;
    height:250px;
    width:300px;

}
.slider2-block img{
    width: 170px;
    height:180px;
    transform: scale(0.9);
    margin-bottom:5px;
    object-fit: contain;
}
.slider2-block img:hover{
    transform: scale(1);
}
.slider2-block span{
    font-weight: bold;
}
.head{
    position:absolute;
    margin-top:-50px;
    padding-top: 13px;
    font-size:25px;
}
