<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>itembar</title>
   
</head>
<body>
    <div class="itembar">
        <ul class="lit">
            <li>Electronics</li>
            <li>TVs & Application</li>
            <li>Men</li>
            <li>Women</li>
            <li>Bady & Kids</li>
            <li>Home & Furniture</li>
            <li>Sports, Books & More</li>
            <li>Flights</li>
            <li>Offer zone</li>
        </ul>
    </div>
</body>
</html>
