<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>itembar</title>
   
</head>
<body>
    <div class="itembar">
        <ul class="lit">
            <li><a href="" >Electronics<span class="material-symbols-outlined">expand_more</span></a>
                <div class="sub-menu">
                    <div class="list-items">
                        <p>Mobiles</p>
                        <ul>
                            <li><a href="">Mi</a></li>
                            <li><a href="">Realme</a></li>
                            <li><a href="">Samsung</a></li>
                            <li><a href="">OPPO</a></li>
                            <li><a href="">Apple</a></li>
                            <li><a href="">Vivo</a></li>
                            <li><a href="">Honor</a></li>
                            <li><a href=""> Asus</a></li>
                            <li><a href="">Poco X2</a></li>
                            <li><a href="">Realme Narzo 10</a></li>
                            <li><a href="">Motorola razr</a></li>
                            <li><a href="">Nokia</a></li>
                            <li><a href="">Moto</a></li>
                            <li><a href="">realme Narzo 10A</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p>Mobile Accessories</p>
                        <ul>
                            <li><a href="">Mobile Cases</a></li>
                            <li><a href="">Headphones & Headsets</a></li>
                            <li><a href="">Power Banks</a></li>
                            <li><a href="">Screenguards</a></li>
                            <li><a href="">MemoryCards</a></li>
                            <li><a href="">Smart Headphones</a></li>
                            <li><a href="">Mobile Holders</a></li>
                            <li><a href="">Mobile Charges</a></li>
                            <li><a href="">Mobile Cables</a></li>
                        </ul>
                        <p>SmartbWearable Tech</p>
                        <ul>
                            <li><a href="">Smart Watches</a></li>
                            <li><a href="">Smart Glasses(VR)</a></li>
                            <li><a href="">Smart Bands</a></li>
                        </ul>
                        <p>Health Card Appliances</p>
                        <ul>
                            <li><a href="">Mb Monitos</a></li>
                            <li><a href="">Weighing scale</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p>Laptops</p>
                        <ul>
                            <li><a href="">Gaming loptops</a></li>
                        </ul>
                        <p>Desktop PCs</p>
                        <p>Gaming &Accessories</p>
                        <p>Computer Accessories</p>
                        <ul>
                            <li><a href="">Mouses</a></li>
                            <li><a href="">Laptop charges</a></li>
                            <li><a href="">External Hard Disks</a></li>
                            <li><a href="">Laptop Bags</a></li>
                            <li><a href="">Pendrives</a></li>
                            </ul>
                        <p>Computer Peripherals</p>
                        <ul>
                            <li><a href="">Monitors</a></li>
                            <li><a href="">Printers & Ink Cartridges</a></li>
                        </ul>
                        <p>Tablets</p>
                        <ul>
                            <li><a href="">Apple iPads</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <ul>
                            <li>Television</li>
                        </ul>
                        <p>speakers</p>
                        <ul>
                            <li><a href="">Home Audio Speakers</a></li>
                            <li><a href="">Home Theatres</a></li>
                            <li><a href=""> Soundbars</a></li>
                            <li><a href="">Bluetooth Speakers</a></li>
                            <li><a href=""> DTH Set Top Box</a></li>
                        </ul>
                        <p>Smart Home Automation</p>
                        <ul>
                            <li><a href="">Google Nest</a></li>
                        </ul>
                        <p>Camera</p>
                        <ul>
                            <li><a href="">DSLR & Mirrorless</a></li>
                            <li><a href="">Compact & Bridge Cameras</a></li>
                            <li><a href="">Sports & Action</a></li>
                        </ul>
                        <p>Camera Accessories</p>
                        <ul>
                            <li><a href="">Lens</a></li>
                            <li><a href="">Tripods</a></li>
                        </ul>
                        <p>Network Components</p>
                        <ul>
                            <li><a href="">Routers</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p> Featured</p>
                        <ul>
                            <li><a href="">Google Assistant Store</a></li>
                            <li><a href="">Laptops on Buyback Guarantee</a></li>
                            <li><a href="">Flipkart SmartBuy</a></li>
                            <li><a href="">Li-Polymer Power Banks</a></li>
                            <li><a href="">Sony PS4 Pro & Slim</a></li>
                            <li><a href="">Apple Products</a></li>
                            <li><a href="">Microsoft Store</a></li>
                            <li><a href="">Lenovo Phab Series</a></li>
                            <li><a href="">JBL Speakers</a></li>
                            <li><a href="">Smartphones On Buyback Guarantee</a></li>
                            <li><a href="">Philips</a></li>
                            <li><a href="">Dr. Morepen</a></li>
                            <li><a href="">Complete Mobile Protection</a></li>
                            <li><a href="">Mobiles No Cost EMI</a></li>
                            <li><a href="">Huawei Watch Gt 2e Smart Watch</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a href="">TVs & Application<span class="material-symbols-outlined">expand_more</span></a>
                <div class="sub-menu">
                    <div class="list-items">
                        <p>Television</p>
                        <p>New Launches</p>
                        <p>Smart & Ultra HD</p>
                        <p> Top Brands</p>
                        <ul>
                            <li><a href="">Mi</a></li>
                            <li><a href="">Vu</a></li>
                            <li><a href="">Thomson</a></li>
                            <li><a href="">Samsung</a></li>
                            <li><a href="">iFFALCON by TCL</a></li>
                            <li><a href="">LG</a></li>
                            <li><a href="">realme</a></li>
                            <li><a href="">Motorola</a></li>
                            <li><a href="">Shop by Screen Size</a></li>
                            <li><a href="">24 & below</a></li>
                            <li><a href="">28 - 32</a></li>
                            <li><a href="">39 - 43</a></li>
                            <li><a href="">48 - 55</a></li>
                            <li><a href="">60 & above</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p>Washing Machine</p>
                        <ul>
                            <li><a href="">Fully Automatic Front Load</a></li>
                            <li><a href="">Semi Automatic Top Load</a></li>
                            <li><a href="">Fully Automatic Top Load</a></li>
                        </ul>
                        <p>Air Conditioners</p>
                        <ul>
                            <li><a href="">Inverter AC</a></li>
                            <li><a href="">Split ACs</a></li>
                            <li><a href="">Window ACs</a></li>
                            <li><a href="">Shop By Brand</a></li>
                            <li><a href="">LG</a></li>
                            <li><a href="">Carrier</a></li>
                        </ul>
                        <p>Refrigerators</p>
                        <ul>
                            <li><a href="">Single Door</a></li>
                            <li><a href="">Double Door</a></li>
                            <li><a href="">Triple door</a></li>
                            <li><a href="">Side by Side</a></li>
                            <li><a href="">Convertible</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p>Kitchen Appliances</p>
                        <ul>
                            <li><a href="">Microwave Ovens</a></li>
                            <li><a href="">Oven Toaster Grills (OTG)</a></li>
                            <li><a href="">Juicer/Mixer/Grinder</a></li>
                            <li><a href="">Electric Kettle</a></li>
                            <li><a href="">Induction Cooktops</a></li>
                            <li><a href="">Chimneys</a></li>
                            <li><a href="">Hand Blenders</a></li>
                            <li><a href="">Sandwich Makers</a></li>
                            <li><a href="">Pop Up Toasters</a></li>
                            <li><a href="">Electric Cookers</a></li>
                            <li><a href="">Wet Grinders</a></li>
                            <li><a href=""> Food Processors</a></li>
                            <li><a href=""> Coffee Makers</a></li>
                            <li><a href="">Dishwashers</a></li>
                        </ul>
                        <p>Healthy Living Appliances</p>
                    </div>
                    <div class="list-items">
                        <p>Small Home Appliances</p>
                        <ul>
                            <li><a href="">Irons</a></li>
                            <li><a href="">Water Purifiers</a></li>
                            <li><a href="">Fans</a></li>
                            <li><a href="">Air Coolers</a></li>
                            <li><a href="">Inverters</a></li>
                            <li><a href="">Vacuum Cleaners</a></li>
                            <li><a href="">Sewing Machines</a></li>
                            <li><a href="">Voltage Stabilizers</a></li>
                            <li><a href="">Water Geysers</a></li>
                            <li><a href="">Immersion Rods</a></li>
                        </ul>
                        <p>Top Brands</p>
                        <ul>
                            <li><a href="">Livpure</a></li>
                            <li><a href="">Philips</a></li>
                            <li><a href="">IFB</a></li>
                            <li><a href="">Eureka Forbes</a></li>
                            <li><a href="">Kaff</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p>Buying Guides</p>
                        <ul>
                            <li><a href="">Televisions</a></li>
                            <li><a href=""> Washing Machines</a></li>
                            <li><a href="">Refrigerators</a></li>
                            <li><a href="">Air Conditioners</a></li>
                            <li><a href=""> Water Purifiers</a></li>
                            <li><a href="">Air Purifiers</a></li>
                            <li><a href="">Chimneys</a></li>
                            <li><a href="">Water Geysers</a></li>
                        </ul>
                        <p>New Launches</p>
                        <ul>
                            <li><a href="">Coocaa Smart TVs</a></li>
                            <li><a href="">Nokia (55) 4K Android TV</a></li>
                            <li><a href="">Mi (32) 4A Pro Android TV</a></li>
                            <li><a href="">MarQ (43) FHD Smart TV</a></li>
                            <li><a href=""> LG Refrigerators</a></li>
                            <li><a href="">Thomson (40) 4K Smart TV</a></li>
                            <li><a href="">Whirlpool Refrigerators</a></li>
                            <li><a href="">Kodak (22) | (32) LED TVs</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a href="">Men<span class="material-symbols-outlined">expand_more</span></a>
                <div class="sub-menu" >
                    <div class="list-items">
                        <p>Footwear</p>
                        <ul>
                            <li><a href="">Sports Shoes</a></li>
                            <li><a href="">Casual Shoes</a></li>
                            <li><a href="">Formal Shoes</a></li>
                            <li><a href="">Sandals & Floaters</a></li>
                            <li><a href="">Flip- Flops</a></li>
                            <li><a href="">Loafers</a></li>
                            <li><a href="">Boots</a></li>
                            <li><a href="">Running Shoes</a></li>
                            <li><a href="">Sneakers</a></li>
                        </ul>
                        <p> Men's Grooming</p>
                        <ul>
                            <li><a href="">Deodorants</a></li>
                            <li><a href="">Perfumes</a></li>
                            <li><a href="">Beard Care & Grooming</a></li>
                            <li><a href="">Shaving & Aftershave</a></li>
                            <li><a href=""> Sexual Wellness</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p>Clothing</p>
                        <p>Top wear</p>
                        <ul>
                            <li><a href="">T-Shirts</a></li>
                            <li><a href="">Formal Shirts</a></li>
                            <li><a href="">Casual Shirts</a></li>
                        </ul>
                        <p>Bottom wear</p>
                        <ul>
                            <li><a href="">Jeans</a></li>
                            <li><a href="">Casual Trousers</a></li>
                            <li><a href="">Formal Trousers</a></li>
                            <li><a href="">Track pants</a></li>
                            <li><a href="">Shorts</a></li>
                            <li><a href="">Cargos</a></li>
                            <li><a href="">Three Fourths</a></li>
                        </ul>
                        <p>Suits, Blazers & Waistcoats</p>
                        <p>Ties, Socks, Caps & More</p>
                        <p>Fabrics</p>
                    </div>
                    <div class="list-items">
                        <p>Winter Wear</p>
                        <ul>
                            <li><a href="">Sweatshirts</a></li>
                            <li><a href="">Jackets</a></li>
                            <li><a href="">Sweater</a></li>
                            <li><a href="">Tracksuits</a></li>
                        </ul>
                        <p>Ethnic wear</p>
                        <ul>
                            <li><a href="">Kurta</a></li>
                            <li><a href="">Ethnic Sets</a></li>
                            <li><a href="">Sherwanis</a></li>
                            <li><a href="">Ethnic Pyjama</a></li>
                            <li><a href="">Dhoti</a></li>
                            <li><a href="">Lungi</a></li>
                        </ul>
                        <p>Innerwear & Loungewear</p>
                        <ul>
                            <li><a href="">Briefs & Trunks</a></li>
                            <li><a href="">Vests</a></li>
                            <li><a href="">Boxers</a></li>
                            <li><a href="">Pyjamas and Lounge Pants</a></li>
                            <li><a href="">Thermals</a></li>
                            <li><a href="">Night Suits</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p>Watches</p>
                        <ul>
                            <li><a href="">Fastrack</a></li>
                            <li><a href="">Casio</a></li>
                            <li><a href="">Titan</a></li>
                            <li><a href="">Fossil</a></li>
                            <li><a href="">Sonata</a></li>
                        </ul>
                        <p>Accessories</p>
                        <ul>
                            <li><a href="">Backpacks</a></li>
                            <li><a href="">Wallets</a></li>
                            <li><a href="">Belts</a></li>
                            <li><a href="">Sunglasses</a></li>
                            <li><a href="">Luggage & Travel</a></li>
                            <li><a href="">Frames</a></li>
                            <li><a href="">Jewellery</a></li>
                        </ul>
                        <p>Sports & Fitness Store</p>
                    </div>
                    <div class="list-items">
                        <p>Smart Watches</p>
                        <p> Smart Bands</p>
                        <p> Personal Care Appliances</p>
                        <ul>
                            <li><a href="">Trimmers</a></li>
                            <li><a href="">Shavers</a></li>
                            <li><a href="">Grooming Kits</a></li>
                        </ul>
                        <p>Featured</p>
                        <ul>
                            <li><a href="">Watches Store</a></li>
                            <li><a href="">Footwear Club</a></li>
                            <li><a href="">Bags & Wallet</a></li>
                            <li><a href="">T-Shirt Store</a></li>
                            <li><a href="">Adidas</a></li>
                            <li><a href=""> Beardo</a></li>
                            <li><a href="">Reebok</a></li>
                            <li><a href="">Skechers</a></li>
                            <li><a href="">Nike</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="">Women<span class="material-symbols-outlined">expand_more</span></a>
                <div class="sub-menu">
                    <div class="list-items">
                        <p>Clothing</p>
                        <p>Women Western & Maternity Wear</p>
                        <ul>
                            <li><a href="">Topwear</a></li>
                            <li><a href="">Dresses</a></li>
                            <li><a href="">Jeans</a></li>
                            <li><a href="">Shorts</a></li>
                            <li><a href="">Skirts</a></li>
                            <li><a href="">Jeggings & Tights</a></li>
                            <li><a href="">Trousers & Capris</a></li>
                        </ul>
                        <p>Lingerie & Sleepwear</p>
                        <ul>
                            <li><a href="">Bras</a></li>
                            <li><a href="">Lingerie Sets</a></li>
                            <li><a href="">Night Dresses & Nighties</a></li>
                            <li><a href="">Shapewear</a></li>
                            <li><a href="">Camisoles & Slips</a></li>
                            <li><a href="">Swim & Beachwear</a></li>
                        </ul>
                        <p>Party Dresses</p>
                    </div>
                    <div class="list-items">
                        <p>Ethnic Wear</p>
                        <ul>
                            <li><a href="">Sarees</a></li>
                            <li><a href="">Kurtas & Kurtis</a></li>
                            <li><a href="">Dress Material</a></li>
                            <li><a href="">Lehenga Choli</a></li>
                            <li><a href="">Blouse</a></li>
                            <li><a href="">Kurta Sets & Salwar Suits</a></li>
                            <li><a href="">Gowns</a></li>
                            <li><a href="">Dupattas</a></li>
                        </ul>
                        <p>Ethnic Bottoms</p>
                        <ul>
                            <li><a href="">Leggings & Churidars</a></li>
                            <li><a href="">Palazzos</a></li>
                            <li><a href="">Shararas</a></li>
                            <li><a href="">Salwars & Patiala</a></li>
                            <li><a href="">Dhoti Pants</a></li>
                            <li><a href=""> Ethnic Trousers</a></li>
                            <li><a href="">Saree Shapewear & Petticoats</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p>Footwear</p>
                        <p> Sandals</p>
                        <ul>
                            <li><a href="">Flats</a></li>
                            <li><a href="">Heels</a></li>
                            <li><a href=""> Wedges</a></li>
                        </ul>
                        <p>Shoes</p>
                        <ul>
                            <li><a href="">Sports Shoes</a></li>
                            <li><a href="">Casual Shoes</a></li>
                            <li><a href="">Boots</a></li>
                            <li><a href="">Ballerinas</a></li>
                        </ul>
                        <p>Slippers & Flip- Flop's</p>
                        <p>Watches</p>
                        <p>Smart Watches</p>
                        <p>Personal Care Appliances</p>
                        <ul>
                            <li><a href="">Hair Straightners</a></li>
                            <li><a href="">Hair Dryers</a></li>
                            <li><a href="">Epilators</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p>Beauty & Grooming</p>
                        <ul>
                            <li><a href=""> Make Up</a></li>
                            <li><a href="">Skin Care</a></li>
                            <li><a href="">Hair Care</a></li>
                            <li><a href="">Bath & Spa</a></li>
                            <li><a href="">Deodorants & Perfumes</a></li>
                        </ul>
                        <p>Jewellery</p>
                        <ul>
                            <li><a href="">Artificial Jewellery</a></li>
                            <li><a href="">Silver Jewellery</a></li>
                            <li><a href="">Precious Jewellery</a></li>
                            <li><a href=""> Coins and Bars</a></li>
                        </ul>
                        <p>Accessories</p>
                        <ul>
                            <li><a href="">Handbags</a></li>
                            <li><a href="">Shoulder Bags</a></li>
                            <li><a href="">Totes</a></li>
                            <li><a href="">Sling bags</a></li>
                            <li><a href="">Clutches</a></li>
                            <li><a href="">Wallets & Belts</a></li>
                            <li><a href="">Luggage & Travel</a></li>
                            <li><a href="">Sunglasses</a></li>
                            <li><a href="">Frames</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p>Featured</p>
                        <ul>
                            <li><a href="">Forever 21</a></li>
                            <li><a href="">Accessorize</a></li>
                            <li><a href="">W</a></li>
                            <li><a href="">Pantaloons</a></li>
                            <li><a href="">Chemistry</a></li>
                            <li><a href="">Lakme</a></li>
                            <li><a href="">Nivea</a></li>
                            <li><a href="">Catwalk</a></li>
                            <li><a href="">Titan-Raga</a></li>
                            <li><a href="">Fastrack</a></li>
                            <li><a href="">Divastri</a></li>
                            <li><a href="">Anmi</a></li>
                            <li><a href="">Coins & Bars</a></li>
                            <li><a href="">Crocs</a></li>
                        </ul>
                        <p>Trending today!</p>
                        <ul>
                            <li><a href="">Ruffles & Frills</a></li>
                            <li><a href="">Pastel Kurtas & Kurtis</a></li>
                            <li><a href="">Designer Net Sarees</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a href="">Bady & Kids<span class="material-symbols-outlined">expand_more</span></a>
                <div class="sub-menu">
                    <div class="list-items">
                        <p>Kids Clothing</p>
                        <p>Boys' Clothing</p>
                        <ul>
                            <li><a href="">T-Shirts</a></li>
                            <li><a href="">Ethnic Wear</a></li>
                            <li><a href="">Shorts</a></li>
                            <li><a href="">Shirts</a></li>
                            <li><a href="">Innerwear</a></li>
                        </ul>
                        <p>Girls' Clothing</p>
                        <ul>
                            <li><a href="">Dresses & Skirts</a></li>
                            <li><a href="">Ethnic Wear</a></li>
                            <li><a href="">T-shirts & Tops</a></li>
                            <li><a href="">Innerwear</a></li>
                        </ul>
                        <p>Baby Boys' Clothing</p>
                        <ul>
                            <li><a href="">Combos Sets</a></li>
                            <li><a href="">T-Shirts</a></li>
                            <li><a href="">Innerwear</a></li>
                        </ul>
                        <p>Baby Girls' Clothing</p>
                        <ul>
                            <li><a href="">Combos Sets</a></li>
                            <li><a href="">Dresses & Gowns</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p>Kids' Footwear</p>
                        <p>Boys' Footwear</p>
                        <ul>
                            <li><a href="">Sandals</a></li>
                            <li><a href="">Sport Shoes</a></li>
                        </ul>
                        <p>Girls' Footwear</p>
                        <ul>
                            <li><a href="">Flats & Bellies</a></li>
                            <li><a href="">Sport Shoes</a></li>
                        </ul>
                        <p>Infant Footwear</p>
                        <p>Character Shoes</p>
                        <ul>
                            <li><a href=""> Kids' Winter Wear</a></li>
                            <li><a href="">Boys' Winter Wear</a></li>
                        </ul>
                        <p>Boys' Sweatshirts</p>
                        <ul>
                            <li><a href=""> Boys' Jacket</a></li>
                            <li><a href="">Girls' Winter Wear</a></li>
                        </ul>
                        <p>Girls' Sweatshirts</p>
                        <ul>
                            <li><a href="">Girls' Jackets</a></li>
                            <li><a href="">Infant Winter Wear</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p>Toys</p>
                        <ul>
                            <li><a href="">Remote Control Toy</a></li>
                            <li><a href="">Educational Toys</a></li>
                            <li><a href="">Soft Toys</a></li>
                            <li><a href="">Cars & Die-cast Vehicles</a></li>
                            <li><a href="">Outdoor Toys</a></li>
                            <li><a href="">Action Figures</a></li>
                            <li><a href="">Board Games</a></li>
                            <li><a href="">Musical Toys</a></li>
                            <li><a href="">Dolls & Doll Houses</a></li>
                            <li><a href="">Puzzles</a></li>
                            <li><a href="">S.T.E.M Toys</a></li>
                            <li><a href="">Helicopter & Drones</a></li>
                            <li><a href="">Toy Guns</a></li>
                            <li><a href="">Party Supplies</a></li>
                        </ul>
                        <p>School Supplies</p>
                        <ul>
                            <li><a href="">School Bags</a></li>
                            <li><a href="">School Combo Sets</a></li>
                            <li><a href="">Lunch Box</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p>Baby Care</p>
                        <ul>
                            <li><a href="">Diapers</a></li>
                            <li><a href="">Wipes</a></li>
                            <li><a href="">Diapering & Potty Training</a></li>
                            <li><a href="">Baby Bath, Hair & Skin Care</a></li>
                            <li><a href="">Baby Grooming</a></li>
                            <li><a href="">Baby Bathing Accessories</a></li>
                            <li><a href="">Baby Gift Sets & Combo</a></li>
                            <li><a href="">Baby Oral Care</a></li>
                            <li><a href="">Nursing & Breast Feeding</a></li>
                            <li><a href="">Baby Food</a></li>
                            <li><a href="">Baby Feeding Bottle & Accessories</a></li>
                            <li><a href="">Baby Feeding Utensils & Accessories</a></li>
                            <li><a href="">Baby Bedding</a></li>
                            <li><a href="">Baby Gear</a></li>
                            <li><a href="">Baby Medical & Health Care</a></li>
                            <li><a href="">Baby Proofing & Safety</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p>Featured brands</p>
                        <ul>
                            <li><a href="">Miss & Chief</a></li>
                            <li><a href="">Barbie</a></li>
                            <li><a href="">Disney</a></li>
                            <li><a href="">United Colors of Benetton</a></li>
                            <li><a href="">The Children's Place</a></li>
                            <li><a href="">US Polo</a></li>
                            <li><a href="">Flying Machine</a></li>
                            <li><a href="">Crocs</a></li>
                            <li><a href="">Puma</a></li>
                            <li><a href="">Funskool</a></li>
                            <li><a href="">Lego</a></li>
                            <li><a href="">Luvlap+</a></li>
                            <li><a href="">Mamy Poko</a></li>
                            <li><a href="">Mee Mee</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="">Home & Furniture<span class="material-symbols-outlined">expand_more</span></a>
                <div class="sub-menu">
                    <div class="list-items">
                        <p>Kitchen, Cookware & Serveware</p>
                        <ul>
                            <li><a href="">Pans</a></li>
                            <li><a href="">Tawas</a></li>
                            <li><a href="">Pressure Cookers</a></li>
                            <li><a href="">Kitchen tools</a></li>
                            <li><a href="">Gas Stoves</a></li>
                        </ul>
                        <p>Tableware & Dinnerware</p>
                        <ul>
                            <li><a href="">Coffee Mugs</a></li>
                            <li><a href="">Dinner Set</a></li>
                            <li><a href="">Barware</a></li>
                        </ul>
                        <p>Kitchen Storage</p>
                        <ul>
                            <li><a href="">Water Bottles</a></li>
                            <li><a href="">Lunch Boxes</a></li>
                            <li><a href="">Flasks</a></li>
                            <li><a href="">Casseroles</a></li>
                            <li><a href="">Kitchen Containers</a></li>
                        </ul>
                        <p>Cleaning Supplies</p>
                    </div>
                    <div class="list-items">
                        <p>Furniture Top Offers</p>
                        <p>Bed Room Furniture</p>
                        <ul>
                            <li><a href="">Beds</a></li>
                            <li><a href="">Mattresses</a></li>
                            <li><a href="">Wardrobes</a></li>
                        </ul>
                        <p>Living Room Furniture</p>
                        <ul>
                            <li><a href="">Sofa</a></li>
                            <li><a href="">Sofa Beds</a></li>
                            <li><a href="">TV Units</a></li>
                            <li><a href="">Dining Tables & Chairs</a></li>
                            <li><a href="">Coffee Tables</a></li>
                            <li><a href="">Shoe Racks</a></li>
                        </ul>
                        <p> Office & Study Furniture</p>
                        <ul>
                            <li><a href="">Kids Room Furniture</a></li>
                        </ul>
                        <p> DIY Furniture</p>
                        <ul>
                            <li><a href="">Bean Bags</a></li>
                            <li><a href="">Collapsible Wardrobes</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p>Furnishing</p>
                        <ul>
                            <li><a href="">Bedsheets</a></li>
                            <li><a href="">Curtains</a></li>
                            <li><a href="">Cushions & Pillows</a></li>
                            <li><a href="">Blankets</a></li>
                            <li><a href="">Bath Towels</a></li>
                            <li><a href="">Kitchen & Table Linen</a></li>
                            <li><a href="">Floor Coverings</a></li>
                        </ul>
                        <p>Smart Home Automation</p>
                        <ul>
                            <li><a href="">Smart Security System</a></li>
                            <li><a href="">Smart Door Locks</a></li>
                        </ul>
                        <p>Home Improvement</p>
                        <ul>
                            <li><a href="">Tools & Measuring Equipments</a></li>
                            <li><a href="">Home Utilities & Organizers</a></li>
                            <li><a href="">Lawn & Gardening</a></li>
                            <li><a href="">Bathroom & Kitchen Fittin</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p>Home Decor</p>
                        <ul>
                            <li><a href=""> Paintings</a></li>
                            <li><a href="">Clocks</a></li>
                            <li><a href="">Wall Shelves</a></li>
                            <li><a href="">Stickers</a></li>
                            <li><a href="">Showpieces & Figurines</a></li>
                        </ul>
                        <p>Home Lighting</p>
                        <ul>
                            <li><a href=""> Bulbs</a></li>
                            <li><a href="">Wall Lamp</a></li>
                            <li><a href="">Table Lamp</a></li>
                            <li><a href="">Ceiling Lamp</a></li>
                            <li><a href="">Emergency Lights</a></li>
                        </ul>
                        <p>Festive Decor & Gifts</p>
                        <p>Pet Supplies</p>
                        <ul>
                            <li><a href="">Dogs</a></li>
                            <li><a href=""> Cats</a></li>
                            <li><a href="">Fish & Aquatics</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p>Durability Certified Furniture</p>
                        <p>Featurer</p>
                        <p>Christmas Store</p>
                        <ul>
                            <li><a href="">Mugs Store</a></li>
                        </ul>
                        <p>Gardening Store</p>
                        <ul>
                            <li><a href="">Stainless Steel Store</a></li>
                            <li><a href="">Milton</a></li>
                            <li><a href="">Bombay Dyeing</a></li>
                            <li><a href=""> Bombay Dyeing</a></li>
                            <li><a href="">@home</a></li>
                            <li><a href="">HomeTown</a></li>
                            <li><a href="">Ajanta</a></li>
                            <li><a href="">Spaces by Welspun</a></li>
                            <li><a href="">Prestige</a></li>
                        </ul>
                        <p>Perfect Home Store</p>
                    </div>
                </div>
            </li>
            <li><a href="">Sports, Books & More<span class="material-symbols-outlined">expand_more</span></a>
                <div class="sub-menu"  id="first" >
                    <div class="list-items">
                        <p>Sports</p>
                        <ul>
                            <li><a href="">Cricket</a></li>
                            <li><a href="">Badminton</a></li>
                            <li><a href="">Cycling</a></li>
                            <li><a href="">Football</a></li>
                            <li><a href="">Skating</a></li>
                            <li><a href="">Camping & Hiking</a></li>
                            <li><a href="">Swimming</a></li>
                        </ul>
                        <p>Exercise Fitness</p>
                        <ul>
                            <li><a href="">Cardio Equipment</a></li>
                            <li><a href="">Home Gyms</a></li>
                            <li><a href="">Support</a></li>
                            <li><a href="">Dumbbells</a></li>
                            <li><a href="">Ab Exercisers</a></li>
                            <li><a href="">Shakers & Sippers</a></li>
                            <li><a href="">Yoga Mat</a></li>
                            <li><a href="">Gym Gloves</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p>Food Essential</p>
                        <ul>
                            <li><a href="">Nuts & Dry Fruits</a></li>
                            <li><a href="">Tea, Coffee and Beverages</a></li>
                            <li><a href="">Chocolates</a></li>
                            <li><a href="">Snacks Corner</a></li>
                            <li><a href="">Gifting Combos</a></li>
                            <li><a href="">Sweets Store</a></li>
                            <li><a href="">Breakfast Items</a></li>
                        </ul>
                        <p> Health & Nutrition</p>
                    </div>
                    <div class="list-items">
                        <p>Books</p>
                        <ul>
                            <li><a href="">Entrance Exams</a></li>
                            <li><a href="">Academics</a></li>
                            <li><a href="">Literature & Fiction</a></li>
                            <li><a href="">Non Fiction</a></li>
                            <li><a href="">Young Readers</a></li>
                            <li><a href="">Self-Help</a></li>
                            <li><a href="">E-Learning</a></li>
                            <li><a href="">Preorders</a></li>
                            <li><a href="">Indian Languages</a></li>
                        </ul>
                        <p>Stationery</p>
                        <ul>
                            <li><a href="">Pens</a></li>
                            <li><a href="">Diaries</a></li>
                            <li><a href="">Card Holders</a></li>
                            <li><a href="">Desk Organizers</a></li>
                            <li><a href="">Calculators</a></li>
                            <li><a href="">Key Chains</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p>Auto Accessories</p>
                        <ul>
                            <li><a href="">Helmets & Riding Gears</a></li>
                            <li><a href="">Car Audio/Video</a></li>
                            <li><a href="">Car Mobile Accessories</a></li>
                            <li><a href="">Car & Bike Care</a></li>
                            <li><a href="">Vehicle Lubricants</a></li>
                        </ul>
                        <p>Industrial & Scientific tools</p>
                        <ul>
                            <li><a href="">Industrial Measurement Devices</a></li>
                            <li><a href="">Industrial Testing Devices</a></li>
                            <li><a href="">Lab & Scientific Products</a></li>
                            <li><a href="">Packaging & Shipping Products</a></li>
                            <li><a href="">Safety Products</a></li>
                        </ul>
                        <p>Medical Supplies</p>
                        <ul>
                            <li><a href="">Pregnancy and Fertility Kits</a></li>
                            <li><a href="">Hot Water Bag</a></li>
                        </ul>
                    </div>
                    <div class="list-items">
                        <p>Music</p>
                        <ul>
                            <li><a href="">Musical Instruments</a></li>
                            <li><a href="">Music</a></li>
                            <li><a href="">Movies & Tv shows</a></li>
                        </ul>
                        <p>Gaming</p>
                        <ul>
                            <li><a href="">Gaming Consoles</a></li>
                            <li><a href="">Gaming Accessories</a></li>
                            <li><a href="">PS4 Games</a></li>
                            <li><a href="">Smart Glasses (VR)</a></li>
                        </ul>
                        <p>Grocery (Only in Select Cities)</p>
                    </div>
                </div>
            </li>
            <li>Flights</li>
            <li>Offer zone</li>
        </ul>
    </div>
</body>
</html>
