*{
    margin: 0;
    padding: 0;
}
.itembar {
    background-color: #ffff;
    width:100%;
    color:black;
    padding:3px;
    display: flex;
    margin-top:80px;
    justify-content: center;
}

.lit {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    padding: 0;
    width:100%;
}

.lit li {
    margin-right: 40px;
    font-size:18px;
}

.lit li:last-child {
    margin-right: 0;
    margin-left: 10px;
}
