<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section>
    <div class="main">
      <div class="hd">
        <b>Flipkart</b>
        <div class="title">
            <a href="#">Explore</a>
            <strong>Plus</strong>
        </div>
    </div>
    <div class="search">
      <input type="search" placeholder="Enter product name">
      <span class="material-symbols-outlined">search</span>
    </div>
<div class="sub"><button>Login</button></div>

      
      <div class="lit">
        <ul>
          <li><a href="#">Become Seller</a></li>
          <li><a href="#">More</a><span class="material-symbols-outlined">expand_more</span>
        <ul>
            <li><span class="material-symbols-outlined">notifications</span>Notifications  Preferiances</li>
            <li><span class="material-symbols-outlined">quiz</span>24x7 Custom Care</li>
            <li><span class="material-symbols-outlined">trending_up</span>Advertise</li>
            <li><span class="material-symbols-outlined">download</span>Download App</li>
        </ul></li>
          <li><span class="material-symbols-outlined">shopping_cart</span><a href="#">Cart</a></li>
        </ul>
      </div>
    </div>
  </section>
</body>
</html>
