<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Seller? Explore our product recommendations with Dhamaka Selection</p>
    <div class="navbar">
        <div><img src="" alt=""></div>
        <div class="menu"><ul>
            <li>Sell Online</li>
            <li>Fees and Commission</li>
            <li>Grow</li>
            <li>Learn</li>
            <li>Shopsy</li>
        </ul></div>
        <li>Login</li>
        <li>Start Selling</li>
    </div>
    <div class="image">
        <h1>Become a Flipkart Seller
            and sell to 45+Crore customers
            </h1>
        <img src="../../assets/Banner_Desktop_1280x545_1.webp" alt=""></div>
        <div class="middle">
            <h2>11 Lakh+</h2>
            <span>Seller community</span>
            <p></p>
            <h2>24x7</h2>
            <span>Online Business</span>
            <p></p>
            <h2>7</h2>
            <span>Online Business</span>
            <p></p>
            <h2>19000+</h2>
            <span>Pincodes served</span>
        </div>
        <div class="midh">
            <h1>Why do sellers love selling on ️Flipkart?</h1>
            <p>45 crore+ customers across India trust Flipkart.com to be their number 1 online shopping destination. It is no surprise that more than a million sellers trust their products to be made available 24x7 on Flipkart.</p>
        </div>
        <div class="m">
            <div class="l">
                <div><h1>Opportunity</h1>
                    45 crore+ of customers across 19000+ pincodes, and access to shopping festivals like The Big Billion Days, and more.</div>
            
            <div><h1>Ease of Doing Business</h1>
                Create your Flipkart seller account in under 10 minutes with just 1 product and a valid GSTIN number.
            </div>
            <div><h1>Growth</h1>
                Sellers see an average 2.8X spike in growth, 2.3X more visibility, and up to 5X growth in The Big Billion Days Sale.
            </div>
            <div><h1>Additional Support</h1>
                Account management services, exclusive training programs, business insights, catalogue/photoshoot support, and more
            </div>
            </div>
            <div class="r">
                <img src="../../assets/shopsy_1_1.webp" alt="">
            </div>
        </div>
        
</body>
</html>